Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

ipc: pause all processes whil handling blocking ipc from multiprocess mode
  python/remage/ipc.py
Due: disallow-caps

cli: only show banner for one process in multiprocess mode
  src/remage.cc
Due: disallow-caps, clang-tidy

cmake: fix docs installdir
  docs/CMakeLists.txt
Due: disallow-caps

cmake: fix validation installdir
  docs/validation/CMakeLists.txt
Due: disallow-caps

cmake: also fix doics install when no validation suite had been built
  docs/validation/CMakeLists.txt
Due: disallow-caps

Adds support for benchmarking specific GDML components
  include/RMGGeomBench.hh
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
  src/RMGGeomBench.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

initial commit - merging of CJs classes
  include/RMGBenchmarkOutputScheme.hh
  include/RMGGeneratorBenchmark.hh
  include/RMGMasterGenerator.hh
  include/RMGUserInit.hh
  src/CMakeLists.txt
  src/RMGBenchmarkOutputScheme.cc
  src/RMGGeneratorBenchmark.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Adds geometry benchmark CLI
  include/RMGGeneratorBenchmark.hh
  include/RMGGeomBench.hh
  include/RMGGeomBenchOutputScheme.hh
  include/RMGMasterGenerator.hh
  include/RMGUserInit.hh
  pyproject.toml
  python/CMakeLists.txt
  python/install-remage-python.sh
  python/remage/geombench/__init__.py
  python/remage/geombench/__main__.py
  python/remage/geombench/cli.py
  python/remage/geombench/summary_generator.py
  src/CMakeLists.txt
  src/RMGGeneratorBenchmark.cc
  src/RMGGeomBench.cc
  src/RMGGeomBenchOutputScheme.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

implemented better approach to be less suseptable for sudden spikes in calculation time
  include/RMGGeomBench.hh
  python/remage/geombench/cli.py
  src/RMGGeomBench.cc
Due: disallow-caps, clang-tidy

Add geometry benchmarking documentation and update summary generator
  docs/manual/geombench.md
  docs/manual/index.md
  docs/rmg-commands.md
  include/RMGGeomBench.hh
  include/RMGGeomBenchOutputScheme.hh
  pyproject.toml
  python/CMakeLists.txt
  python/remage/geombench/__init__.py
  python/remage/geombench/__main__.py
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
  src/RMGGeomBench.cc
  src/RMGGeomBenchOutputScheme.cc
  src/remage-doc-dump.cc
  tests/python/test_geombench_cli.py
  tests/python/test_geombench_gdml.py
Due: disallow-caps, disallow-end-fence, clang-tidy

add missing vertex generator for file input
  docs/rmg-commands.md
  include/RMGMasterGenerator.hh
  include/RMGVertexFromPoint.hh
  src/CMakeLists.txt
  src/RMGMasterGenerator.cc
  src/RMGVertexFromPoint.cc
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

tests: test vertex/kinetics input from the same file
  tests/vertex/CMakeLists.txt
  tests/vertex/create-test-input.py
  tests/vertex/macros/pos-kin-combined-lh5.mac
Due: disallow-caps

docs: improve physics list docs
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

docs: fill todos and fix minor issues
  docs/_dependencies.md
  docs/conf.py.in
  docs/index.md
  docs/manual/analysis.md
  docs/manual/confinement.md
  docs/manual/generators.md
  docs/manual/input.md
  docs/manual/install.md
  docs/manual/output.md
  docs/manual/physicslist.md
  docs/manual/running.md
  docs/manual/visualization.md
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

docs: adjust description of custom neutron capture process
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

ipc: add better debugging facilities
  include/RMGIpc.hh
  src/RMGIpc.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

Add combine_tracks validation
  tests/CMakeLists.txt
  tests/combine_tracks/CMakeLists.txt
  tests/combine_tracks/gdml/geometry-box.gdml
  tests/combine_tracks/macros/template.mac
  tests/combine_tracks/plot_output.py
  tests/combine_tracks/run_sims.py
Due: disallow-caps

add option to disable xml check of GDML files
  docs/rmg-commands.md
  include/RMGHardware.hh
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

ipc: remove timeout
  include/RMGIpc.hh
  src/RMGIpc.cc
Due: disallow-caps, clang-tidy

cli: add second version check without ipc
  python/remage/cli.py
  src/remage.cc
Due: disallow-caps, clang-tidy

remove old plots and add better benchmark instead
  tests/combine_tracks/CMakeLists.txt
  tests/combine_tracks/macros/template.mac
  tests/combine_tracks/plot_output.py
  tests/combine_tracks/run_sims.py
  tests/combine_tracks/run_sims_and_plot.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
