Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

add parameter to set ntuple name for detector
  docs/rmg-commands.md
  include/RMGDetectorMetadata.hh
  include/RMGHardware.hh
  include/RMGVOutputScheme.hh
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
Due: disallow-caps, clang-tidy

initial commit - merging of CJs classes
  include/RMGBenchmarkOutputScheme.hh
  include/RMGGeneratorBenchmark.hh
  include/RMGMasterGenerator.hh
  include/RMGUserInit.hh
  src/CMakeLists.txt
  src/RMGBenchmarkOutputScheme.cc
  src/RMGGeneratorBenchmark.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Adds geometry benchmark CLI
  include/RMGGeneratorBenchmark.hh
  include/RMGGeomBench.hh
  include/RMGGeomBenchOutputScheme.hh
  include/RMGMasterGenerator.hh
  include/RMGUserInit.hh
  pyproject.toml
  python/CMakeLists.txt
  python/install-remage-python.sh
  python/remage/geombench/__init__.py
  python/remage/geombench/__main__.py
  python/remage/geombench/cli.py
  python/remage/geombench/summary_generator.py
  src/CMakeLists.txt
  src/RMGGeneratorBenchmark.cc
  src/RMGGeomBench.cc
  src/RMGGeomBenchOutputScheme.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

implemented better approach to be less suseptable for sudden spikes in calculation time
  include/RMGGeomBench.hh
  python/remage/geombench/cli.py
  src/RMGGeomBench.cc
Due: disallow-caps, clang-tidy

Adds support for benchmarking specific GDML components
  include/RMGGeomBench.hh
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
  src/RMGGeomBench.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Add geometry benchmarking documentation and update summary generator
  .pre-commit-config.yaml
  docs/manual/geombench.md
  docs/manual/index.md
  pyproject.toml
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
Due: disallow-caps, disallow-end-fence

Removing histprint dependency
  docs/manual/geombench.md
  include/RMGGeomBench.hh
  pyproject.toml
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
  src/RMGGeomBench.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

precommit skipped with this?
  .pre-commit-config.yaml
Due: none

Add inner Bremsstrahlung
  docs/rmg-commands.md
  include/RMGInnerBremsstrahlungProcess.hh
  include/RMGPhysics.hh
  src/CMakeLists.txt
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
  src/RMGTrackingAction.cc
Due: disallow-caps, clang-tidy

adding validation test and markdown for Inner Brem
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/processes-ib.md
  src/RMGInnerBremsstrahlungProcess.cc
  tests/CMakeLists.txt
  tests/processes/CMakeLists.txt
  tests/processes/gdml/geometry.gdml
  tests/processes/innerbrem_plot_effect.py
  tests/processes/innerbrem_run_sims.py
  tests/processes/macros/run_IB.mac
  tests/processes/macros/run_IB_track.mac
  tests/processes/macros/run_noIB.mac
  tests/processes/make_gdml.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Removing histprint dependency
  .pre-commit-config.yaml
  docs/manual/geombench.md
  docs/rmg-commands.md
  include/RMGGeomBench.hh
  pyproject.toml
  python/CMakeLists.txt
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
  src/RMGGeomBench.cc
  src/RMGGeomBenchOutputScheme.cc
  src/remage-doc-dump.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: reduce stats in inner bremsstrahlung tests
  docs/rmg-commands.md
  docs/validation/processes-ib.md
  include/RMGInnerBremsstrahlungProcess.hh
  src/RMGInnerBremsstrahlungProcess.cc
  src/remage-doc-dump.cc
  tests/processes/CMakeLists.txt
  tests/processes/config/hit_config.yaml
  tests/processes/gdml/geometry.gdml
  tests/processes/innerbrem_plot_effect.py
  tests/processes/innerbrem_run_sims.py
  tests/processes/macros/run_IB.mac
  tests/processes/macros/run_IB_track.mac
  tests/processes/macros/run_noIB.mac
  tests/processes/make_gdml.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Added tests for the python package, also removed some depricated functions
  python/remage/geombench/gdml_handling.py
  src/RMGGeomBench.cc
  tests/python/test_geombench_cli.py
  tests/python/test_geombench_gdml.py
Due: disallow-caps, clang-tidy

Adding liscence
  include/RMGInnerBremsstrahlungProcess.hh
  src/RMGInnerBremsstrahlungProcess.cc
Due: disallow-caps, clang-tidy

Added suggestion
  python/CMakeLists.txt
Due: disallow-caps

rename variables and fix for g4 11.2
  docs/rmg-commands.md
  include/RMGInnerBremsstrahlungProcess.hh
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

remove particle-based process prefix
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

Adding Literature and references
  docs/manual/physicslist.md
  docs/validation/processes-ib.md
Due: disallow-caps, disallow-end-fence

remage_run() inputs improvements
  python/remage/cli.py
  python/remage/utils.py
  tests/python/test_macro_input.py
Due: disallow-caps

parse ntuple name and uid sharing from GDML
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

add tests for ntuple registration
  tests/detectors/gdml/geometry2.gdml
  tests/detectors/gdml/geometry2.py
  tests/detectors/run_sims_det.py
  tests/detectors/test_output.py
  tests/output/CMakeLists.txt
  tests/output/dumps/ntuple-per-det-shared-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared.hdf5.ls
  tests/output/dumps/ntuple-per-det-shared.lh5.ls
  tests/output/macros/ntuple-per-det-shared.mac
Due: disallow-caps

use newer pygeomtools in tests [skip ci]
  pyproject.toml
Due: disallow-caps

Add mplhep and hist dependencies; refactor summary generator for hist plotting
  pyproject.toml
  python/remage/geombench/summary_generator.py
Due: disallow-caps

gave up on the hist color bar to have a label
  python/remage/geombench/summary_generator.py
Due: disallow-caps

ipc: also ignore BrokenPipeError (errno 32)
  python/remage/ipc.py
Due: disallow-caps

Merge pull request #559 from legend-exp/ipc-broken-pipe [skip ci]
  python/remage/ipc.py
Due: disallow-caps

add license headers to python files
  python/remage/__init__.py
  python/remage/__main__.py
  python/remage/cli.py
  python/remage/find_remage.py
  python/remage/ipc.py
  python/remage/logging.py
  python/remage/post_proc.py
  python/remage/utils.py
Due: disallow-caps

fix debug_event log level
  python/remage/logging.py
  src/RMGLog.cc
Due: disallow-caps, clang-tidy

fix debug_event log level (#562) [skip ci]
  python/remage/logging.py
  src/RMGLog.cc
Due: disallow-caps, clang-tidy

input: allow more than one particle in an event
  include/RMGGeneratorFromFile.hh
  src/RMGGeneratorFromFile.cc
  tests/vertex/CMakeLists.txt
  tests/vertex/create-test-input.py
  tests/vertex/macros/kin2-lh5.mac
  tests/vertex/run-vtx.py
Due: disallow-caps, clang-tidy

docs: document inputs
  docs/manual/generators.md
  docs/manual/input.md
Due: disallow-caps, disallow-end-fence

remove log statement [skip ci]
  src/RMGGeneratorFromFile.cc
Due: disallow-caps, clang-tidy

Update RMGGeneratorFromFile compile error
  src/RMGGeneratorFromFile.cc
Due: disallow-caps, clang-tidy
