Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

tests: add tests for the mass sampling mode
  tests/confinement/CMakeLists.txt
  tests/confinement/gdml/geometry_weight.gdml
  tests/confinement/gdml/geometry_weight.py
  tests/confinement/test_weighting.py
Due: disallow-caps

increase clang-tidy happiness
  include/RMGPrimaryTransformer.hh
Due: disallow-caps, clang-tidy

docs: document weighting modes
  docs/manual/confinement.md
Due: disallow-caps, disallow-end-fence

confinement: calculate mass in one go
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

confinement: add option to weigh by mass instead of volume
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

keep units in detector_origins
  python/remage/post_proc.py
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
Due: disallow-caps

Implemented optimized safety check
  include/RMGOutputTools.hh
  include/RMGVolumeDistanceStacker.hh
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

add stacking scheme for bulk electron tracks
  include/RMGHardware.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

revert special handling for MultiUnions
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

reduced redundency and changed names to reflect actual function
  include/RMGOutputTools.hh
  include/RMGVolumeDistanceStacker.hh
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

added new command to docs
  docs/rmg-commands.md
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

output: add option to store optical photons in track output
  docs/rmg-commands.md
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Update output docs for recent changes
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

docs: mention that the track output scheme does not work with optical photons
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

docs: update for output changes (photons in tracks & units in detector_origins) (#618)
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

tests: set environment variables globally
  docs/developer.md
  tests/CMakeLists.txt
  tests/bxdecay0/CMakeLists.txt
  tests/confinement/CMakeLists.txt
  tests/distances/CMakeLists.txt
  tests/nist/CMakeLists.txt
  tests/observables/CMakeLists.txt
  tests/performance/CMakeLists.txt
  tests/processes/CMakeLists.txt
Due: disallow-caps, disallow-end-fence

tests: set a boost factor for statistics in test env
  tests/CMakeLists.txt
Due: disallow-caps

tests: update nist test to include more materials
  docs/validation/CMakeLists.txt
  docs/validation/nist.md
  tests/nist/data/estar-ar.txt
  tests/nist/data/estar-cu.txt
  tests/nist/gdml/geometry-ar.gdml
  tests/nist/gdml/geometry-cu.gdml
  tests/nist/gdml/geometry-ge.gdml
  tests/nist/gdml/geometry.py
  tests/nist/macros/run.mac
  tests/nist/run_e_sims.py
  tests/nist/test_brem.py
  tests/nist/test_electron_interactions.py
Due: disallow-caps, disallow-end-fence

tests: validation page for process list
  docs/rmg-commands.md
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/processes.md
  include/RMGPhysics.hh
  src/RMGPhysics.cc
  tests/processes/CMakeLists.txt
  tests/processes/dump_physics.py
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: also add geant4 command lexer to validation page
  docs/_extensions/remage_lexers.py
  docs/conf.py.in
  docs/validation/conf.py.in
Due: disallow-caps

add first gamma correlation plots for the validation suite
  docs/validation/CMakeLists.txt
  docs/validation/gammacorr.md
  docs/validation/index.md
  tests/CMakeLists.txt
  tests/gammacorr/CMakeLists.txt
  tests/gammacorr/gdml/geometry.gdml
  tests/gammacorr/gdml/geometry.py
  tests/gammacorr/test_angcorr.py
Due: disallow-caps, disallow-end-fence

tests: add expectation for 60Co gamma angular correlations
  docs/validation/gammacorr.md
  tests/gammacorr/test_angcorr.py
Due: disallow-caps, disallow-end-fence

tests: align validation docs conf with main conf
  docs/validation/conf.py.in
Due: disallow-caps

tests: introduce label for validation(-only) tests
  .github/workflows/main.yml
  .github/workflows/validation.yml
  docs/developer.md
  docs/validation/CMakeLists.txt
  tests/bxdecay0/CMakeLists.txt
  tests/confinement/CMakeLists.txt
  tests/distances/CMakeLists.txt
  tests/nist/CMakeLists.txt
  tests/observables/CMakeLists.txt
  tests/performance/CMakeLists.txt
  tests/processes/CMakeLists.txt
Due: disallow-caps, disallow-end-fence

tests: remove unnecessary SKIP_REGULAR_EXPRESSION for X11
  tests/confinement/CMakeLists.txt
  tests/hades/CMakeLists.txt
  tests/observables/CMakeLists.txt
Due: disallow-caps

tests: use validation stats factor for gammacorr tests
  tests/gammacorr/test_angcorr.py
Due: disallow-caps

adjust CMakeLists to new validation setup
  tests/gammacorr/CMakeLists.txt
Due: disallow-caps

add support for the sphere
  docs/manual/generators.md
  include/RMGGeneratorCosmicMuons.hh
  src/RMGGeneratorCosmicMuons.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

small fix
  src/RMGGeneratorCosmicMuons.cc
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
