Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

fix: check also that sys.stderr has the isatty() method
  python/remage/logging.py
Due: disallow-caps

fix: reference
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

feat: add --output-group to nest the output in a LH5 group
  docs/manual/output.md
  docs/manual/running.md
  include/RMGConvertLH5.hh
  include/RMGDefaultCli.hh
  include/RMGOutputManager.hh
  python/remage/post_proc.py
  python/remage/reshaping.py
  src/RMGConvertLH5.cc
  src/RMGDefaultCli.cc
  src/RMGRunAction.cc
  tests/output/CMakeLists.txt
  tests/output/run-test-output-group.sh
  tests/output/verify_lh5_output_group.py
Due: disallow-caps, disallow-end-fence, clang-tidy

feat: add --append to add a simulation to an existing output file
  docs/manual/output.md
  docs/manual/running.md
  include/RMGConvertLH5.hh
  include/RMGDefaultCli.hh
  include/RMGOutputManager.hh
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  src/RMGDefaultCli.cc
  src/RMGRunAction.cc
  tests/output/run-test-output-group.sh
  tests/output/verify_lh5_output_group.py
Due: disallow-caps, disallow-end-fence, clang-tidy

python: add new options to python wrapper
  python/remage/cli.py
Due: disallow-caps

catch errors from copying existing objects
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

also read rmg_color from GDML
  docs/manual/visualization.md
  docs/rmg-commands.md
  include/RMGHardware.hh
  src/RMGHardware.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: remove color macro usage
  tests/confinement/macros/vis-ge-array.mac
  tests/confinement/make_ge_array_gdml.py
Due: disallow-caps

add a python implementation for the C++ FNV-1a function
  python/remage/utils.py
Due: disallow-caps

MUSUN: read distinct blocks of the input file in multiprocessing mode
  docs/manual/generators.md
  include/RMGGeneratorMUSUNCosmicMuons.hh
  src/RMGGeneratorMUSUNCosmicMuons.cc
  tests/cosmogenics/MUSUN/CMakeLists.txt
  tests/cosmogenics/MUSUN/test_musun_procs.py
Due: disallow-caps, disallow-end-fence, clang-tidy

MUSUN: re-open the input file for subsequent runs
  src/RMGGeneratorMUSUNCosmicMuons.cc
Due: disallow-caps, clang-tidy

ci/docker: build from source tree instead of checkout
  .dockerignore
  .github/workflows/docker-build.yaml
  Dockerfile
Due: disallow-caps

teets: do not create vertices outside world
  tests/vertex/create-test-input.py
Due: disallow-caps

python: also ignore scalar lh5_event_number_name for merging
  python/remage/post_proc.py
Due: disallow-caps

warn for int32 overflow in event ids
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy
