Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

tests(gespectrum): add scaled background to model, fix layout engine
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

validation: remove WIP notice
  docs/validation/conf.py.in
Due: disallow-caps

extend docstrings for public C++ API
  include/RMGDetectorHit.hh
  include/RMGDetectorMetadata.hh
  include/RMGEventAction.hh
  include/RMGExceptionHandler.hh
  include/RMGGeneratorCosmicMuons.hh
  include/RMGGeneratorFromFile.hh
  include/RMGGeneratorG4Gun.hh
  include/RMGGeneratorGPS.hh
  include/RMGGeneratorMUSUNCosmicMuons.hh
  include/RMGGeomBench.hh
  include/RMGGeometryCheckOutputScheme.hh
  include/RMGGermaniumDetector.hh
  include/RMGGrabmayrGCReader.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGNeutronCaptureProcess.hh
  include/RMGOpticalDetector.hh
  include/RMGOpticalOutputScheme.hh
  include/RMGPrimaryTransformer.hh
  include/RMGRun.hh
  include/RMGRunAction.hh
  include/RMGScintillatorDetector.hh
  include/RMGSelectiveEkinMinCutProcess.hh
  include/RMGStackingAction.hh
  include/RMGSteppingAction.hh
  include/RMGTrackingAction.hh
  include/RMGUserAction.hh
  include/RMGVertexFromFile.hh
  include/RMGVertexFromPoint.hh
  include/RMGVertexOutputScheme.hh
  include/RMGWorkerInitialization.hh
Due: disallow-caps, clang-tidy

docs(validation): remove dropped gespectrum figure from CMakeLists
  docs/validation/CMakeLists.txt
Due: disallow-caps

tests(gespectrum): fix z-score sigma, update plot layout and energy range
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

tests(gespectrum): tune plot layout and labels
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

python: allow to use the python wrapper with a custom remage-cpp
  docs/manual/extend.md
  python/remage/find_remage.py
  python/remage/ipc.py
Due: disallow-caps, disallow-end-fence

add better C++ extension points
  docs/developer.md
  docs/manual/extend.md
  docs/manual/geometry.md
  include/RMGDefaultCli.hh
  src/CMakeLists.txt
  src/RMGDefaultCli.cc
  src/remage.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

align wrapper version checks with python side
  src/RMGDefaultCli.cc
Due: disallow-caps, clang-tidy

try to fix docker build for latest image
  .dockerhub/hooks/build
Due: disallow-caps

docs: note det_uid column in merged single-table layout
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

add Calorimeter detector and output scheme
  docs/manual/output.md
  docs/rmg-commands.md
  include/RMGCalorimeterDetector.hh
  include/RMGCalorimeterOutputScheme.hh
  include/RMGDetectorMetadata.hh
  python/remage/ipc.py
  python/remage/post_proc.py
  src/CMakeLists.txt
  src/RMGCalorimeterDetector.cc
  src/RMGCalorimeterOutputScheme.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGHardware.cc
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table.hdf5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/gdml/geometry.gdml
  tests/output/gdml/geometry.py
  tests/output/macros/ntuple-single-table.mac
  tests/python/test_post_proc.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Add author Zichen Wang to CITATION.cff
  CITATION.cff
Due: disallow-caps

Merge pull request #681 from legend-exp/citation-francis
  CITATION.cff
Due: disallow-caps

Remove installation instructions for arm64 macOS
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

input: add combined vtx/kin table support
  docs/manual/input.md
  docs/rmg-commands.md
  include/RMGGeneratorFromFile.hh
  src/RMGGeneratorFromFile.cc
  src/RMGVertexFromFile.cc
  tests/vertex/CMakeLists.txt
  tests/vertex/create-test-input.py
  tests/vertex/macros/singletable-lh5.mac
  tests/vertex/macros/singletable2-lh5.mac
  tests/vertex/run-vtx.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Comment out conda subdir configuration
  .github/workflows/conda.yml
Due: disallow-caps

Fix conda command by removing redundant variable
  .github/workflows/conda.yml
Due: disallow-caps

Added optimization to the safety check for the volume distance stacker
  include/RMGNavigationTools.hh
  include/RMGOutputTools.hh
  src/RMGNavigationTools.cc
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

Refactor event and stacking handling in RMG framework
  docs/manual/index.md
  docs/manual/output.md
  docs/manual/staging.md
  docs/rmg-commands.md
  include/RMGGermaniumOutputScheme.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGStackingAction.hh
  include/RMGStagingScheme.hh
  include/RMGTrackOutputScheme.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGGermaniumOutputScheme.cc
  src/RMGIsotopeFilterScheme.cc
  src/RMGStackingAction.cc
  src/RMGStagingScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGUserInit.cc
  src/RMGVolumeDistanceStacker.cc
  src/remage-doc-dump.cc
  tests/CMakeLists.txt
  tests/staging/CMakeLists.txt
  tests/staging/gdml/geometry-isotope-ar40.gdml
  tests/staging/gdml/geometry.gdml
  tests/staging/staging_test_utils.py
  tests/staging/test_isotope_filter_condition.py
  tests/staging/test_muon_stress.py
  tests/staging/test_physics_regression.py
  tests/staging/test_staging_logic.py
  tests/staging/test_throughput.py
Due: disallow-caps, disallow-end-fence, clang-tidy
