Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

python: move postproc code to own module (#381)
  python/CMakeLists.txt
  python/remage/cli.py
  python/remage/post_proc.py
  python/remage/utils.py
Due: disallow-caps

Add extend docs
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

Try to fix docs
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

Add API links and improve clarity
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

swap order of user_init examples
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

Minor fixes
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

Add extend docs (#383)
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

add process filter to particlefilter
  docs/rmg-commands.md
  include/RMGParticleFilterScheme.hh
  src/RMGParticleFilterScheme.cc
  tests/particlefilter/CMakeLists.txt
  tests/particlefilter/macros/keepprocess.mac
  tests/particlefilter/macros/killprocess.mac
  tests/particlefilter/run-test-keepprocess.py
  tests/particlefilter/run-test-killprocess.py
Due: disallow-caps, clang-tidy

Update reboost version to have correct units
  pyproject.toml
Due: disallow-caps

temporarily pin the reboost version
  pyproject.toml
Due: disallow-caps

Wrap 2vbb and 0vbb in remage
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
Due: disallow-caps, clang-tidy

Make seed reproducible
  include/RMGGeneratorDecay0.hh
  include/RMGManager.hh
  src/RMGGeneratorDecay0.cc
  src/RMGManager.cc
Due: disallow-caps, clang-tidy

clang-tidy: fix most new errors on ubuntu noble
  cmake/RMGConfig.hh.in
  include/RMGAnalysisReader.hh
  include/RMGConvertLH5.hh
  include/RMGEventAction.hh
  include/RMGExceptionHandler.hh
  include/RMGGeneratorCosmicMuons.hh
  include/RMGGeneratorDecay0.hh
  include/RMGGeneratorG4Gun.hh
  include/RMGGeneratorGPS.hh
  include/RMGGermaniumOutputScheme.hh
  include/RMGHardware.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGLog.hh
  include/RMGManager.hh
  include/RMGMasterGenerator.hh
  include/RMGOpticalOutputScheme.hh
  include/RMGParticleFilterScheme.hh
  include/RMGPhysics.hh
  include/RMGRun.hh
  include/RMGRunAction.hh
  include/RMGScintillatorOutputScheme.hh
  include/RMGTrackOutputScheme.hh
  include/RMGTrackingAction.hh
  include/RMGUserAction.hh
  include/RMGUserInit.hh
  include/RMGVGenerator.hh
  include/RMGVOutputScheme.hh
  include/RMGVVertexGenerator.hh
  include/RMGVertexConfinement.hh
  include/RMGVertexOutputScheme.hh
  include/RMGWorkerInitialization.hh
  src/RMGTrackOutputScheme.cc
  tests/internals/test-random.cc
Due: disallow-caps, clang-tidy

Improvements to guidance, doxygen and add doc dump
  docs/rmg-commands.md
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

Add rough doxygen docs
  include/RMGGeneratorDecay0.hh
Due: disallow-caps, clang-tidy

Convert macro to UICommand with more arguments and add background macro
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
Due: disallow-caps, clang-tidy

Check for BxDecay0 in doc-dump
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

Fix include for RMG_HAS_BXDECAY0
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

add default for single precison ge energy
  src/RMGGermaniumOutputScheme.cc
Due: disallow-caps, clang-tidy

Update rmg-commands.md
  docs/rmg-commands.md
Due: none

correct doi format in CITATION.cff [skip ci]
  CITATION.cff
Due: disallow-caps

Some small fixes for simflow (#393)
  docs/rmg-commands.md
  src/RMGGermaniumOutputScheme.cc
Due: disallow-caps, clang-tidy

rework bxdecay docs, add note to extend for updating from old versions, add hadronic decay time threshold info to physicslist
  docs/manual/extend.md
  docs/manual/generators.md
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

Add background example
  docs/manual/generators.md
Due: disallow-caps, disallow-end-fence

fix path error message
  python/remage/find_remage.py
Due: disallow-caps

Move installation tip and adjust BxDecay0 guide
  docs/manual/extend.md
  docs/manual/generators.md
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

Update reboost version to have correct units
  pyproject.toml
  tests/output/macros/ntuple-per-det-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks-jag.hdf5ls-lh5
  tests/output/run-test-hdf5.sh
Due: disallow-caps
