Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

remove upper version bounds on LEGEND packages
  pyproject.toml
Due: disallow-caps

add stacking scheme for bulk electron tracks
  include/RMGHardware.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

vertex: fix for multiprocessing mode
  include/RMGAnalysisReader.hh
  src/RMGGeneratorFromFile.cc
  src/RMGVertexFromFile.cc
  tests/vertex/CMakeLists.txt
  tests/vertex/macros/kin-hdf5.mac
  tests/vertex/macros/kin-lh5.mac
  tests/vertex/macros/pos-hdf5.mac
  tests/vertex/macros/pos-kin-lh5.mac
  tests/vertex/macros/pos-lh5-mm.mac
  tests/vertex/macros/pos-lh5.mac
  tests/vertex/run-vtx.py
Due: disallow-caps, clang-tidy

remove outdated tag from pyproject [skip ci]
  pyproject.toml
Due: disallow-caps

tests: fix hit_config.yaml for new reboost
  tests/observables/config/hit_config.yaml
Due: disallow-caps

remove upper version bounds on LEGEND packages (#531)
  pyproject.toml
  tests/observables/config/hit_config.yaml
Due: disallow-caps

docs: document default values
  docs/rmg-commands.md
  src/RMGGermaniumOutputScheme.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGPhysics.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGSteppingAction.cc
  src/RMGTrackOutputScheme.cc
  src/RMGTrackingAction.cc
  src/RMGVertexConfinement.cc
  src/RMGVertexFromFile.cc
  src/RMGVertexOutputScheme.cc
Due: disallow-caps, clang-tidy

physics: enable our WLS process by default
  docs/rmg-commands.md
  include/RMGPhysics.hh
Due: disallow-caps, clang-tidy

docs: document parallelism in user manual
  docs/developer.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

Explicitely link against BxDecay0 (not only the Geant4 plugin)
  src/CMakeLists.txt
Due: disallow-caps

tests: print more progress in run_e_sims.py [skip ci]
  tests/nist/run_e_sims.py
Due: disallow-caps

add CLI option to disable startup banner
  src/remage.cc
Due: disallow-caps, clang-tidy

prefix log messages with process number
  include/RMGLog.hh
  src/RMGLog.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

use newly renamed packages
  pyproject.toml
  tests/basics/gdml/geometry.py
  tests/confinement/make_ge_array_gdml.py
  tests/confinement/test_confinement_ge.py
  tests/confinement/test_lar_intersection.py
  tests/distances/make_ge_gdml.py
  tests/distances/test_ge_distance.py
  tests/nist/gdml/geometry.py
  tests/observables/make_gdml.py
  tests/output/gdml/geometry.py
  tests/python/gdml/geometry.py
Due: disallow-caps

ci: add bxdecay0 for macOS ci
  .github/workflows/main.yml
Due: disallow-caps

ci: add bxdecay0 for macOS ci (#547) [skip ci]
  .github/workflows/main.yml
Due: disallow-caps

ipc: use pipe instead of signal for ACK
  include/RMGIpc.hh
  python/remage/cli.py
  python/remage/ipc.py
  src/RMGIpc.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

add one more debug output
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

make clang-tidy happy
  src/RMGLog.cc
Due: disallow-caps, clang-tidy

add debug_event log level
  docs/rmg-commands.md
  include/RMGLog.hh
  python/remage/cli.py
  python/remage/logging.py
  src/RMGDetectorHit.cc
  src/RMGGeneratorCosmicMuons.cc
  src/RMGGeneratorFromFile.cc
  src/RMGGeneratorMUSUNCosmicMuons.cc
  src/RMGGermaniumDetector.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGGrabmayrGCReader.cc
  src/RMGMasterGenerator.cc
  src/RMGNeutronCaptureProcess.cc
  src/RMGOpticalDetector.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGOutputTools.cc
  src/RMGParticleFilterScheme.cc
  src/RMGScintillatorDetector.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGSteppingAction.cc
  src/RMGVertexConfinement.cc
  src/RMGVertexOutputScheme.cc
Due: disallow-caps, clang-tidy

python: update metadata [skip ci]
  pyproject.toml
Due: disallow-caps

add EcoMug license [skip ci]
  EcoMug_LICENSE
Due: disallow-caps

docs: fix console block for conda installation [skip ci]
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

actually enable correlated gamma emission
  .github/workflows/main.yml
  CMakeLists.txt
  docs/rmg-commands.md
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

parse ntuple name and uid sharing from GDML
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
