Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

add option for skipping installing python wrapper with make
  python/CMakeLists.txt
Due: disallow-caps

introduce RMG_CONDA_BUILD option [skip ci]
  python/CMakeLists.txt
Due: disallow-caps

use host-provided setuptools-scm, if available
  cmake/modules/RMGSetuptoolsVersion.cmake
Due: disallow-caps

cmake: add option for conda build (#484)
  cmake/modules/RMGSetuptoolsVersion.cmake
  python/CMakeLists.txt
Due: disallow-caps

cmake: prepare for using system-provided fmt
  CMakeLists.txt
Due: disallow-caps

cmake: align CLI11 package name
  CMakeLists.txt
Due: disallow-caps

cmake: align CLI11 package name (#486) [skip ci]
  CMakeLists.txt
Due: disallow-caps

remove deprecated localtime
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

Update RMGRunAction.cc
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

update fmt
  CMakeLists.txt
Due: disallow-caps

remove deprecated localtime calls (#487)
  CMakeLists.txt
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

restore time zone capabilities with localtime_r
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

restore time zone capabilities with localtime_r (#488)
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

test new action to add to remage project
  .github/workflows/add-to-project.yml
Due: disallow-caps

[ci] fix add-to-project version
  .github/workflows/add-to-project.yml
Due: disallow-caps

ci: macOS-latest is now macOS 15
  .github/workflows/main.yml
Due: disallow-caps

docker: switch to latest base image (Geant4 11.3)
  .dockerhub/Dockerfile
Due: disallow-caps

add stacking scheme for bulk electron tracks
  include/RMGHardware.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

add Calorimeter detector and output scheme
  include/RMGCalorimeterDetector.hh
  include/RMGCalorimeterOutputScheme.hh
  include/RMGDetectorMetadata.hh
  src/CMakeLists.txt
  src/RMGCalorimeterDetector.cc
  src/RMGCalorimeterOutputScheme.cc
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

confinement: fix sampling from volumes with daughters
  docs/validation/CMakeLists.txt
  docs/validation/confinement.md
  src/RMGVertexConfinement.cc
  tests/confinement/CMakeLists.txt
  tests/confinement/gdml/geometry_boxes.gdml
  tests/confinement/gdml/geometry_boxes.py
  tests/confinement/macros/with-daughters.mac
Due: disallow-caps, disallow-end-fence, clang-tidy

docs: document surface sampler problem with coinciding surfaces
  docs/manual/confinement.md
Due: disallow-caps, disallow-end-fence
