Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

tests: introduce a new `flaky` label for confinement tests [skip ci]
  tests/confinement/CMakeLists.txt
Due: disallow-caps

remove some unneeded test dependencies
  pyproject.toml
Due: disallow-caps

remove some unneeded test dependencies (#512) [skip ci]
  pyproject.toml
Due: disallow-caps

docs: include docs on optical output
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

cmake: fix tests with `RMG_CONDA_BUILD`, part 2
  python/CMakeLists.txt
Due: disallow-caps

cmake: fix tests with `RMG_CONDA_BUILD`, part 2 (#514)
  python/CMakeLists.txt
Due: disallow-caps

appease pre-commit
  python/CMakeLists.txt
Due: disallow-caps

appease pre-commit (#515) [skip ci]
  python/CMakeLists.txt
Due: disallow-caps

[ci skip] Fix log message for SurfaceSampleMaxIntersections
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

docs: add conda-forge to install docs [skip ci]
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

add conda-forge badge to README [skip ci]
  README.md
Due: disallow-caps, disallow-end-fence

Apply suggestion from @gipert
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

docs: add conda-forge to install docs (#517) [skip ci]
  README.md
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

add stacking scheme for bulk electron tracks
  include/RMGHardware.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

confinement: add option to weigh by mass instead of volume
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

ci: debug macOS failure
  .github/workflows/main.yml
Due: disallow-caps

Update main.yml
  .github/workflows/main.yml
Due: disallow-caps

ci: use the conda-provided python for remage building on macOS (#521) [skip ci]
  .github/workflows/main.yml
Due: disallow-caps

fix detector registration with detectors containing regex chars
  include/RMGNavigationTools.hh
  src/RMGHardware.cc
  src/RMGNavigationTools.cc
Due: disallow-caps, clang-tidy

add option for multi-processing
  docs/manual/output.md
  docs/manual/running.md
  include/RMGIpc.hh
  include/RMGManager.hh
  include/RMGRunAction.hh
  include/RMGVOutputScheme.hh
  python/remage/cli.py
  python/remage/ipc.py
  src/RMGGeometryCheckOutputScheme.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGIpc.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGRunAction.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVertexOutputScheme.cc
  src/remage.cc
  tests/output/CMakeLists.txt
  tests/output/run-test-hdf5.sh
Due: disallow-caps, disallow-end-fence, clang-tidy

adding validation test and markdown for Inner Brem
  docs/validation/processes_IB.md
  src/RMGInnerBremsstrahlungProcess.cc
  tests/processes/CMakeLists.txt
  tests/processes/gdml/geometry.gdml
  tests/processes/macros/run_IB.mac
  tests/processes/macros/run_noIB.mac
  tests/processes/macros/run_track.mac
  tests/processes/make_gdml.py
  tests/processes/plot_IB_effect.py
  tests/processes/run_sims.py
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: mark basicfilter as flaky [skip ci]
  tests/particlefilter/CMakeLists.txt
Due: disallow-caps

ci: fix validation temporarily
  .github/workflows/main.yml
Due: disallow-caps

ci: fix validation temporarily (#527) [skip ci]
  .github/workflows/main.yml
Due: disallow-caps

reduce RMGConvertLH5 verbosity
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

Add inner Bremsstrahlung
  docs/rmg-commands.md
  include/RMGInnerBremsstrahlungProcess.hh
  include/RMGPhysics.hh
  src/CMakeLists.txt
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
  src/RMGTrackingAction.cc
Due: disallow-caps, clang-tidy

adding validation test and markdown for Inner Brem
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/processes-ib.md
  src/RMGInnerBremsstrahlungProcess.cc
  tests/CMakeLists.txt
  tests/processes/CMakeLists.txt
  tests/processes/gdml/geometry.gdml
  tests/processes/innerbrem_plot_effect.py
  tests/processes/innerbrem_run_sims.py
  tests/processes/macros/run_IB.mac
  tests/processes/macros/run_IB_track.mac
  tests/processes/macros/run_noIB.mac
  tests/processes/make_gdml.py
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: reduce stats in inner bremsstrahlung tests
  tests/processes/CMakeLists.txt
  tests/processes/config/hit_config.yaml
  tests/processes/gdml/geometry.gdml
  tests/processes/innerbrem_plot_effect.py
  tests/processes/innerbrem_run_sims.py
  tests/processes/macros/run_IB.mac
  tests/processes/macros/run_IB_track.mac
  tests/processes/macros/run_noIB.mac
  tests/processes/make_gdml.py
Due: disallow-caps

ci: move self-hosted runner workflow parts to a dedicated file
  .github/workflows/main.yml
  .github/workflows/validation.yaml
Due: disallow-caps

[skip ci] rename validation workflow file
  .github/workflows/validation.yml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
