Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

pc
  src/RMGGeneratorCosmicMuons.cc
Due: disallow-caps, clang-tidy

Update docs/manual/generators.md
  docs/manual/generators.md
Due: disallow-caps, disallow-end-fence

Update src/RMGGeneratorCosmicMuons.cc
  src/RMGGeneratorCosmicMuons.cc
Due: disallow-caps, clang-tidy

Update include/RMGGeneratorCosmicMuons.hh
  include/RMGGeneratorCosmicMuons.hh
Due: disallow-caps, clang-tidy

output keep vtx.evtid even if vertex writing is disabled
  docs/rmg-commands.md
  src/RMGVertexOutputScheme.cc
  tests/output/CMakeLists.txt
  tests/output/dumps/ntuple-per-det-no-vtx-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx.hdf5.ls
  tests/output/dumps/ntuple-per-det-no-vtx.lh5.ls
  tests/output/macros/ntuple-per-det-no-vtx.mac
Due: disallow-caps, clang-tidy

tests: various follow-ups after recent validation change
  docs/_dependencies.md
  src/RMGPhysics.cc
  tests/gammacorr/test_angcorr.py
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: add optical detection validation tests
  tests/optics/gdml/geometry-detection-0.10-0.10.gdml
  tests/optics/gdml/geometry-detection-0.10-0.50.gdml
  tests/optics/gdml/geometry-detection-0.10-0.90.gdml
  tests/optics/gdml/geometry-detection-0.50-0.10.gdml
  tests/optics/gdml/geometry-detection-0.50-0.50.gdml
  tests/optics/gdml/geometry-detection-0.50-0.90.gdml
  tests/optics/gdml/geometry-detection-1.00-0.10.gdml
  tests/optics/gdml/geometry-detection-1.00-0.50.gdml
  tests/optics/gdml/geometry-detection-1.00-0.90.gdml
  tests/optics/gdml/geometry.py
  tests/optics/test_detection.py
Due: disallow-caps

tests: add scintillation and cerenkov validation tests
  tests/CMakeLists.txt
  tests/optics/CMakeLists.txt
  tests/optics/gdml/geometry-emission-lar.gdml
  tests/optics/gdml/geometry-emission-water.gdml
  tests/optics/gdml/geometry.py
  tests/optics/test_scintillate.py
Due: disallow-caps

tests: add optical attenuation validation tests
  docs/validation/CMakeLists.txt
  docs/validation/optics.md
  tests/optics/_geometry.py
  tests/optics/test_attenuation.py
  tests/optics/test_detection.py
Due: disallow-caps, disallow-end-fence

tests: generate geometry files on the fly for optics
  tests/optics/gdml/geometry-detection-0.10-0.10.gdml
  tests/optics/gdml/geometry-detection-0.10-0.50.gdml
  tests/optics/gdml/geometry-detection-0.10-0.90.gdml
  tests/optics/gdml/geometry-detection-0.50-0.10.gdml
  tests/optics/gdml/geometry-detection-0.50-0.50.gdml
  tests/optics/gdml/geometry-detection-0.50-0.90.gdml
  tests/optics/gdml/geometry-detection-1.00-0.10.gdml
  tests/optics/gdml/geometry-detection-1.00-0.50.gdml
  tests/optics/gdml/geometry-detection-1.00-0.90.gdml
  tests/optics/gdml/geometry-emission-lar.gdml
  tests/optics/gdml/geometry-emission-water.gdml
  tests/optics/gdml/geometry.py
  tests/optics/test_detection.py
  tests/optics/test_scintillate.py
Due: disallow-caps

docs: add optics validation page
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/optics.md
Due: disallow-caps, disallow-end-fence

tests: add WLS test for optical validation
  docs/validation/CMakeLists.txt
  docs/validation/optics.md
  tests/optics/test_wls.py
Due: disallow-caps, disallow-end-fence

Apply suggestions from code review
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

refactor: update comments and include additional headers for output tools
  include/RMGOutputTools.hh
Due: disallow-caps, clang-tidy

refactor: make volume_cache and is_distance_check_germanium_only thread-local and add mutex for MultiUnion safety
  include/RMGOutputTools.hh
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

try to fix docs building
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

RMGOpWLS: check that we actually wrap a OpWLS process
  src/RMGOpWLSProcess.cc
Due: disallow-caps, clang-tidy

fix docs build
  include/RMGOutputTools.hh
Due: disallow-caps, clang-tidy

feat: add energy threshold below which electrons/positrons are stracked. This is to asure high energy electrons in showers to still produce expected results. Inspired by Eric.
  include/RMGVolumeDistanceStacker.hh
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

added command doc
  docs/rmg-commands.md
  include/RMGVolumeDistanceStacker.hh
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

tests: also use a broad step-function for scintillation test
  docs/validation/optics.md
  pyproject.toml
  tests/optics/_geometry.py
  tests/optics/test_scintillate.py
  tests/optics/test_wls.py
Due: disallow-caps, disallow-end-fence

output: store number of events in LH5 file
  include/RMGConvertLH5.hh
  include/RMGRunAction.hh
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  src/RMGRunAction.cc
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
Due: disallow-caps, clang-tidy

tests: update nist validation
  docs/validation/nist.md
  tests/nist/macros/run.mac
  tests/nist/run_e_sims.py
  tests/nist/test_electron_interactions.py
Due: disallow-caps, disallow-end-fence

EcoMug: add support for the sphere
  docs/manual/generators.md
  docs/rmg-commands.md
  include/RMGGeneratorCosmicMuons.hh
  src/RMGGeneratorCosmicMuons.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

optics: switch WLS time profile to exponential
  docs/validation/optics.md
  src/RMGPhysics.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

tests: run more examples as tests
  examples/04-cosmogenics/CMakeLists.txt
  examples/04-cosmogenics/main.cc
  examples/04-cosmogenics/run.mac
  examples/04-cosmogenics/vis-traj.mac
  examples/06-NeutronCapture/CMakeLists.txt
  examples/06-NeutronCapture/main.cc
  examples/06-NeutronCapture/runNormalnCapture.mac
  examples/06-NeutronCapture/runRMGnCapture.mac
  tests/examples/CMakeLists.txt
Due: disallow-caps, clang-tidy
