Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

WIP: added tests, fixed bugs, will start cleanup based on this commit
  include/RMGStackingAction.hh
  include/RMGTrackOutputScheme.hh
  src/RMGOutputTools.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVolumeDistanceStacker.cc
  tests/CMakeLists.txt
  tests/staging/CMakeLists.txt
  tests/staging/gdml/geometry-isotope-ar40.gdml
  tests/staging/gdml/geometry.gdml
  tests/staging/staging_test_utils.py
  tests/staging/test_isotope_filter_condition.py
  tests/staging/test_muon_stress.py
  tests/staging/test_physics_regression.py
  tests/staging/test_staging_logic.py
  tests/staging/test_throughput.py
Due: disallow-caps, clang-tidy

tests: fix confinement-mt tests
  tests/confinement/CMakeLists.txt
Due: disallow-caps

docs: describe number_of_events
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

Refactor event and stacking handling in RMG framework
  docs/manual/output.md
  examples/06-NeutronCapture/vis-traj.mac
  include/RMGEventAction.hh
  include/RMGGermaniumOutputScheme.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGStackingAction.hh
  include/RMGStagingScheme.hh
  include/RMGUserInit.hh
  src/CMakeLists.txt
  src/RMGEventAction.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGIsotopeFilterScheme.cc
  src/RMGOutputTools.cc
  src/RMGStackingAction.cc
  src/RMGStagingScheme.cc
  src/RMGVolumeDistanceStacker.cc
  src/remage-doc-dump.cc
  tests/staging/CMakeLists.txt
  tests/staging/test_isotope_filter_condition.py
  tests/staging/test_muon_stress.py
  tests/staging/test_physics_regression.py
  tests/staging/test_staging_logic.py
  tests/staging/test_throughput.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Revert "feat: optimization of the electron stacking"
  docs/manual/output.md
  docs/rmg-commands.md
  include/RMGGermaniumOutputScheme.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGNavigationTools.hh
  include/RMGOutputTools.hh
  include/RMGStackingAction.hh
  include/RMGStagingScheme.hh
  include/RMGTrackOutputScheme.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGGermaniumOutputScheme.cc
  src/RMGIsotopeFilterScheme.cc
  src/RMGNavigationTools.cc
  src/RMGOutputTools.cc
  src/RMGStackingAction.cc
  src/RMGStagingScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVolumeDistanceStacker.cc
  src/remage-doc-dump.cc
  tests/CMakeLists.txt
  tests/staging/CMakeLists.txt
  tests/staging/gdml/geometry-isotope-ar40.gdml
  tests/staging/gdml/geometry.gdml
  tests/staging/staging_test_utils.py
  tests/staging/test_isotope_filter_condition.py
  tests/staging/test_muon_stress.py
  tests/staging/test_physics_regression.py
  tests/staging/test_staging_logic.py
  tests/staging/test_throughput.py
Due: disallow-caps, disallow-end-fence, clang-tidy

command reference
  docs/rmg-commands.md
Due: none

implementing suggestions by copilot
  docs/rmg-commands.md
  include/RMGStackingAction.hh
  include/RMGStagingScheme.hh
  src/RMGStackingAction.cc
  src/RMGStagingScheme.cc
  tests/staging/test_isotope_filter_condition.py
Due: disallow-caps, clang-tidy

command reference ...
  docs/rmg-commands.md
Due: none

adding documentation
  docs/manual/index.md
  docs/manual/output.md
  docs/manual/staging.md
  docs/rmg-commands.md
Due: disallow-caps, disallow-end-fence

Refactor distance checks and staging logic for improved performance and clarity
  include/RMGOutputTools.hh
  include/RMGStagingScheme.hh
  src/RMGNavigationTools.cc
  src/RMGOutputTools.cc
  src/RMGStagingScheme.cc
  tests/staging/gdml/geometry-isotope-ar40.gdml
  tests/staging/staging_test_utils.py
  tests/staging/test_isotope_filter_condition.py
  tests/staging/test_muon_stress.py
  tests/staging/test_physics_regression.py
  tests/staging/test_throughput.py
Due: disallow-caps, clang-tidy

Implement electron and gamma suspension on energy drop in staging logic
  include/RMGStagingScheme.hh
  src/RMGStagingScheme.cc
  tests/staging/staging_test_utils.py
  tests/staging/test_physics_regression.py
  tests/staging/test_staging_logic.py
Due: disallow-caps, clang-tidy

updated documentation
  docs/manual/staging.md
  docs/rmg-commands.md
Due: disallow-caps, disallow-end-fence

I hate it
  docs/rmg-commands.md
Due: none

docs: add note for allowed command states
  docs/g4manual2md.py
  docs/rmg-commands.md
  docs/rmg-commands.md.in
Due: disallow-caps

tests: add hades spectrum test
  docs/validation/CMakeLists.txt
  docs/validation/gespectrum.md
  docs/validation/index.md
  tests/CMakeLists.txt
  tests/gespectrum/CMakeLists.txt
  tests/gespectrum/data/hades-data-all-var.npy
  tests/gespectrum/data/hades-data-bkg-var.npy
  tests/gespectrum/data/hades-data-info.txt
  tests/gespectrum/data/hades-data-var.npy
  tests/gespectrum/data/variable_bins.npy
  tests/gespectrum/dummy-metadata.yaml
  tests/gespectrum/gdml/hades-test.gdml
  tests/gespectrum/gdml/hades-test.yaml
  tests/gespectrum/gdml/make_gdml.py
  tests/gespectrum/macros/thsource-full.mac
  tests/gespectrum/plot_gespectrum.py
  tests/gespectrum/run_sims.py
Due: disallow-caps, disallow-end-fence

ci: update the validation workflow
  .github/workflows/validation.yml
Due: disallow-caps

ci: gather disk space statistics after validation
  .github/workflows/validation.yml
Due: disallow-caps

Add neutron validation runs
  docs/rmg-commands.md
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/neutrons.md
  pyproject.toml
  tests/CMakeLists.txt
  tests/neutrons/CMakeLists.txt
  tests/neutrons/argon_endf_comparison.py
  tests/neutrons/data/156Gd-100Entries.txt
  tests/neutrons/data/158Gd-100Entries.txt
  tests/neutrons/data/jeff-3.3_argon.lh5
  tests/neutrons/data/jeff-3.3_gd.lh5
  tests/neutrons/gd_endf_comparison.py
  tests/neutrons/gdml/geometry.gdml
  tests/neutrons/gdml/largon_36_world.gdml
  tests/neutrons/gdml/largon_38_world.gdml
  tests/neutrons/gdml/largon_40_world.gdml
  tests/neutrons/gdml/nist_gd_world.gdml
  tests/neutrons/gdml/nist_lar_world.gdml
  tests/neutrons/gdml/nist_steel_world.gdml
  tests/neutrons/gdml/scene.json
  tests/neutrons/macros/argon_transport.mac
  tests/neutrons/macros/energy_scan.mac
  tests/neutrons/macros/gadolinium.mac
  tests/neutrons/macros/gadolinium_rmgncapture.mac
  tests/neutrons/macros/general.mac
  tests/neutrons/macros/steel.mac
  tests/neutrons/make_gdml.py
  tests/neutrons/make_spectra_and_pies.py
  tests/neutrons/plots_basics.py
  tests/neutrons/run_sims.py
Due: disallow-caps, disallow-end-fence

Use pythonpath for new pygeomvis
  pyproject.toml
  tests/neutrons/CMakeLists.txt
Due: disallow-caps

Add the StoreParticleVelocities option also to Germanium
  include/RMGGermaniumOutputScheme.hh
  src/RMGGermaniumDetector.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGScintillatorOutputScheme.cc
Due: disallow-caps, clang-tidy

Apply suggestion from @tdixon97
  tests/confinement/test_basic_surface.py
Due: disallow-caps

update to lgdo v2 and lh5io
  docs/conf.py.in
  docs/manual/analysis.md
  pyproject.toml
  python/remage/geombench/summary_generator.py
  python/remage/post_proc.py
  tests/bxdecay0/plot_decay_modes.py
  tests/confinement/test_basic_surface.py
  tests/confinement/test_confinement_ge.py
  tests/confinement/test_lar_intersection.py
  tests/confinement/test_lar_subtraction.py
  tests/confinement/test_weighting.py
  tests/detectors/test_output.py
  tests/distances/test_ge_distance.py
  tests/gammacorr/test_angcorr.py
  tests/gespectrum/plot_gespectrum.py
  tests/neutrons/argon_endf_comparison.py
  tests/neutrons/gd_endf_comparison.py
  tests/neutrons/make_spectra_and_pies.py
  tests/nist/test_electron_interactions.py
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
  tests/optics/test_attenuation.py
  tests/optics/test_detection.py
  tests/optics/test_scintillate.py
  tests/optics/test_wls.py
  tests/output/run-test-th228-chain.py
  tests/output/verify_lh5_nevents.py
  tests/particlefilter/run-test-basicfilter.py
  tests/particlefilter/run-test-keepprocess.py
  tests/particlefilter/run-test-keepvolume.py
  tests/particlefilter/run-test-killprocess.py
  tests/particlefilter/run-test-killvolume.py
  tests/performance/combine_tracks_benchmark.py
  tests/processes/innerbrem_plot_effect.py
  tests/python/test_geombench_cli.py
  tests/python/test_post_proc.py
  tests/trackoutput/test_trackoutput.py
  tests/vertex/create-test-input.py
  tests/vertex/run-vtx.py
Due: disallow-caps, disallow-end-fence

add temporary filterwarnings entry for pygama lh5 warnings
  pyproject.toml
Due: disallow-caps

also remove outdated zero-energy skip comment for geds [skip ci]
  src/RMGGermaniumDetector.cc
Due: disallow-caps, clang-tidy

Remove the zero energy skip in ScintillatorDetector::ProcessHits
  src/RMGScintillatorDetector.cc
Due: disallow-caps, clang-tidy

activate the Vertex scheme over the optional output scheme mechanism
  include/RMGOutputManager.hh
  include/RMGUserInit.hh
  src/CMakeLists.txt
  src/RMGHardware.cc
  src/RMGUserInit.cc
  tests/neutrons/macros/energy_scan.mac
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
