Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

ci: debug disk space usage
  .github/workflows/main.yml
Due: disallow-caps

ci: free some build space
  .github/workflows/main.yml
Due: disallow-caps

Update main.yml
  .github/workflows/main.yml
Due: disallow-caps

ci: free some disk space after build (#588)
  .github/workflows/main.yml
Due: disallow-caps

tests: test multiproc error behaviour
  tests/basics/CMakeLists.txt
  tests/basics/run-mp-test-exit.sh
Due: disallow-caps

multi process: exit all processes if one is terminated by a signal
  python/remage/cli.py
Due: disallow-caps

add stacking scheme for bulk electron tracks
  include/RMGHardware.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

confinement: add option to weigh by mass instead of volume
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

tests: WIP add tests for the mass sampling mode
  tests/confinement/CMakeLists.txt
  tests/confinement/gdml/geometry.py
  tests/confinement/macros/_init.mac
  tests/confinement/macros/_vis.mac
  tests/confinement/macros/complex-surface.mac
  tests/confinement/macros/complex-volume.mac
  tests/confinement/macros/geometrical-and-physical.mac
  tests/confinement/macros/geometrical-or-physical.mac
  tests/confinement/macros/geometrical.mac
  tests/confinement/macros/native-surface.mac
  tests/confinement/macros/native-volume-mass.mac
  tests/confinement/macros/with-daughters.mac
  tests/confinement/test_check_mass_ratio.py
Due: disallow-caps

add first gamma correlation plots for the validation suite
  docs/validation/CMakeLists.txt
  docs/validation/gammacorr.md
  docs/validation/index.md
  tests/CMakeLists.txt
  tests/gammacorr/CMakeLists.txt
  tests/gammacorr/gdml/geometry.gdml
  tests/gammacorr/gdml/geometry.py
  tests/gammacorr/test_angcorr.py
Due: disallow-caps, disallow-end-fence

do not show warning for no polarization of photons in GPS
  include/RMGPrimaryTransformer.hh
  src/CMakeLists.txt
  src/RMGManager.cc
Due: disallow-caps, clang-tidy

add Calorimeter detector and output scheme
  include/RMGCalorimeterDetector.hh
  include/RMGCalorimeterOutputScheme.hh
  include/RMGDetectorMetadata.hh
  src/CMakeLists.txt
  src/RMGCalorimeterDetector.cc
  src/RMGCalorimeterOutputScheme.cc
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

ci: re-enable self-hosted runner
  .github/workflows/validation.yml
Due: disallow-caps

Add benchmark to validation
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/performance.md
  tests/CMakeLists.txt
  tests/performance/CMakeLists.txt
  tests/performance/combine_tracks_benchmark.py
  tests/performance/gdml/geometry-box.gdml
  tests/performance/macros/template.mac
Due: disallow-caps, disallow-end-fence

fix name
  docs/validation/performance.md
  tests/performance/combine_tracks_benchmark.py
Due: disallow-caps, disallow-end-fence

make copilot happy
  docs/validation/performance.md
  tests/performance/CMakeLists.txt
  tests/performance/combine_tracks_benchmark.py
  tests/performance/gdml/geometry-box.gdml
Due: disallow-caps, disallow-end-fence

docs: update tutorial for current version
  docs/_img/hpge-edep.jpg
  docs/_img/hpge-edep.png
  docs/_img/hpge-hits.jpg
  docs/_img/hpge-hits.png
  docs/_img/tutorial-pyg4-view.jpg
  docs/_img/tutorial-pyg4-view.png
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

docs: document more defaults in RMGPhysics
  docs/manual/physicslist.md
  src/RMGPhysics.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

physics: add missing verbose setter for cerenkov
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

docs: update tutorial images
  docs/_img/hpge-edep.png
  docs/_img/hpge-hits.png
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

physics: add missing SetProcessOrderingToLast for OpBoundary
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

wip add diff docs
  docs/manual/physicslist-diff.md
Due: disallow-caps, disallow-end-fence
