Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

docker: compile generic LLVM code in the docker container
  .dockerhub/Dockerfile
Due: disallow-caps

ci: split mt and non-mt test runs
  .github/workflows/main.yml
Due: disallow-caps

Update main.yml
  .github/workflows/main.yml
Due: disallow-caps

Update CMakeLists.txt [skip ci]
  tests/vertex/CMakeLists.txt
Due: disallow-caps

add first gamma correlation plots for the validation suite
  tests/CMakeLists.txt
  tests/gammacorr/CMakeLists.txt
  tests/gammacorr/gdml/geometry.gdml
  tests/gammacorr/gdml/geometry.py
  tests/gammacorr/test_angcorr.py
Due: disallow-caps

Update CMakeLists.txt [skip ci]
  tests/confinement/CMakeLists.txt
Due: disallow-caps

Update CMakeLists.txt [skip ci]
  tests/hades/CMakeLists.txt
Due: disallow-caps

Update main.yml [skip ci]
  .github/workflows/main.yml
Due: disallow-caps

ci: split mt and non-mt test runs (#434)
  .github/workflows/main.yml
  tests/confinement/CMakeLists.txt
  tests/hades/CMakeLists.txt
  tests/vertex/CMakeLists.txt
Due: disallow-caps

ci: remove Xfvb setup
  .github/workflows/main.yml
Due: disallow-caps

ci: remove Xfvb setup (#436)
  .github/workflows/main.yml
Due: disallow-caps

tests: use correct MPLCONFIGDIR [skip ci]
  tests/observables/CMakeLists.txt
Due: disallow-caps

lh5: sort column and field names
  include/RMGConvertLH5.hh
  src/RMGConvertLH5.cc
  tests/output/dumps/ntuple-no-stp.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-single-table-with-tracks.mac
Due: disallow-caps, clang-tidy

Fixes to output docs in user manual
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

Update docs/manual/output.md
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

Fixes to output docs in user manual (#440)
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

tests: fix build of observables plot
  tests/observables/plot_steps.py
Due: disallow-caps

tests: add multithreaded output tests
  tests/output/CMakeLists.txt
  tests/output/macros/ntuple-no-stp.mac
  tests/output/run-test-hdf5.sh
Due: disallow-caps

fix link with flat file merging
  python/remage/post_proc.py
Due: disallow-caps

store copy_nr in DetectorMeta
  include/RMGDetectorMetadata.hh
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

refactor global position code into RMGNavigationTools
  include/RMGNavigationTools.hh
  include/RMGVertexConfinement.hh
  src/RMGNavigationTools.cc
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

cmake: do not reinstall development packages
  python/CMakeLists.txt
Due: disallow-caps

store global positions of detectors
  include/RMGGermaniumOutputScheme.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

deduplicate tables on post-proc and convert to structs
  python/remage/post_proc.py
Due: disallow-caps

adjust tests
  tests/output/dumps/ntuple-no-stp-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.hdf5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.hdf5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.hdf5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.hdf5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-no-stp.mac
  tests/output/run-test-hdf5.sh
Due: disallow-caps

Allow TrackOutput do be discarded
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Remove wrong comment
  include/RMGTrackOutputScheme.hh
Due: disallow-caps, clang-tidy

Add doc dump
  docs/rmg-commands.md
Due: none

Change StoreAlways command default and move RMGTrackEntry
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
