Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

remove some unnecessary header inclusions
  include/RMGVertexConfinement.hh
  src/RMGGermaniumDetector.cc
  src/RMGScintillatorDetector.cc
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

docs: alternative markdown for subfigures
  docs/validation/confinement.md
  docs/validation/nist.md
  docs/validation/observables-ge.md
Due: disallow-caps, disallow-end-fence

docs: hotfix for validation report generation
  pyproject.toml
Due: disallow-caps

adjust validation suite to work with new validation suite
  pyproject.toml
  tests/observables/plot_observables.py
  tests/observables/run_sim.py
Due: disallow-caps

adjustments to discard of events without energy in Ge
  src/RMGGermaniumOutputScheme.cc
Due: disallow-caps, clang-tidy

docs: add pygrep hook for ::: not on their own line
  .pre-commit-config.yaml
Due: none

cleanup some old std::abort usages
  src/RMGGeneratorMUSUNCosmicMuons.cc
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

docs: fix some doxygen problems
  include/RMGOutputTools.hh
  include/RMGVertexConfinement.hh
Due: disallow-caps, clang-tidy

docs: remove the weird '@<number>' namesapces from C++ docs
  include/RMGWorkerInitialization.hh
  src/RMGIpc.cc
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

docs: let prettier enforce line length
  .pre-commit-config.yaml
  docs/_dependencies.md
  docs/developer.md
  docs/index.md
  docs/manual/confinement.md
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/manual/install.md
  docs/manual/output.md
  docs/tutorial.md
  docs/validation/confinement.md
  docs/validation/distances.md
  docs/validation/nist.md
  docs/validation/observables-ge.md
Due: disallow-caps, disallow-end-fence

docs: add consistent spacing in markdown around :::
  docs/_dependencies.md
  docs/developer.md
  docs/manual/confinement.md
  docs/manual/extend.md
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/manual/index.md
  docs/manual/input.md
  docs/manual/install.md
  docs/manual/output.md
  docs/manual/physicslist.md
  docs/manual/running.md
  docs/manual/visualization.md
  docs/tutorial.md
  docs/validation/confinement.md
  docs/validation/nist.md
  docs/validation/observables-ge.md
Due: disallow-caps, disallow-end-fence

one more small fix
  src/RMGGermaniumOutputScheme.cc
Due: disallow-caps, clang-tidy

adjust validation suite to work with new reboost (#372)
  pyproject.toml
  tests/observables/plot_observables.py
  tests/observables/run_sim.py
Due: disallow-caps

remage doc dump
  docs/rmg-commands.md
Due: none

adjustments to discard of events without energy in Ge (#373)
  docs/rmg-commands.md
  src/RMGGermaniumOutputScheme.cc
Due: disallow-caps, clang-tidy

Create remage-pkg.in
  python/remage-pkg.in
Due: disallow-caps

cmake: correctly depend on version and package extras
  python/CMakeLists.txt
Due: disallow-caps

cmake: correctly depend on version and package extras (#374)
  python/CMakeLists.txt
  python/remage-pkg.in
Due: disallow-caps

check for directory access rights before opening output file
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

update docs for reshape and merge
  docs/manual/output.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

small fixes
  docs/manual/output.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

turn on output reshaping by default
  pyproject.toml
  python/remage/cli.py
  tests/confinement/CMakeLists.txt
  tests/distances/CMakeLists.txt
  tests/distances/test_ge_distance.py
  tests/nist/run_e_sims.py
  tests/observables/CMakeLists.txt
  tests/observables/run_sim.py
  tests/output/CMakeLists.txt
  tests/output/macros/ntuple-flat-with-tracks.hdf5ls-lh5
  tests/output/macros/ntuple-flat.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-auto-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-auto-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol.hdf5ls-lh5
  tests/output/macros/ntuple-per-det.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks.hdf5ls
  tests/output/macros/ntuple-single-table-with-tracks.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks.mac
  tests/output/macros/ntuple-single-table.hdf5ls
  tests/output/macros/ntuple-single-table.hdf5ls-lh5
  tests/output/macros/ntuple-single-table.mac
  tests/output/run-test-hdf5.sh
  tests/output/run-test-th228-chain.py
  tests/output/visit-hdf5.py
  tests/particlefilter/run-test-basicfilter.py
  tests/particlefilter/run-test-keepvolume.py
  tests/particlefilter/run-test-killvolume.py
  tests/vertex/run-vtx.py
Due: disallow-caps

fixes
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

Add output "reshaping" documentation (#377)
  docs/manual/output.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

use a FNV-1a hash to compute process indices
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

fold hash to 16 bit and check for duplicates
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

also switch to uint32_t for process id in header file
  include/RMGTrackOutputScheme.hh
Due: disallow-caps, clang-tidy

python: move postproc code to won module
  python/CMakeLists.txt
  python/remage/cli.py
  python/remage/post_proc.py
  python/remage/utils.py
Due: disallow-caps

use a FNV-1a hash to compute process indices (#379)
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy
