Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

Update ipc.py [skip ci]
  python/remage/ipc.py
Due: disallow-caps

add doxygen docs to RMGIpc [skip ci]
  include/RMGIpc.hh
Due: disallow-caps, clang-tidy

Add docstrings to IPC helper functions (#412)
  include/RMGIpc.hh
  python/remage/ipc.py
Due: disallow-caps, clang-tidy

update to latest reboost/pygama
  pyproject.toml
  python/remage/post_proc.py
  tests/python/test_file_merging.py
  tests/python/test_post_proc.py
Due: disallow-caps

significant improvement to python wrapper logging
  pyproject.toml
  python/CMakeLists.txt
  python/remage/cli.py
  python/remage/logging.py
  python/remage/utils.py
  tests/output/macros/_init.mac
  tests/python/test_logging.py
Due: disallow-caps

send loglevel ipc message in RMGManager::SetLogLevel
  src/RMGManager.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

correct the overwrite arg to reboost
  python/remage/post_proc.py
Due: disallow-caps

make output tests less verbose
  python/remage/post_proc.py
  tests/output/macros/_init.mac
Due: disallow-caps

fix overwrite flag to reboost.build_hit()
  python/remage/post_proc.py
Due: disallow-caps

revamp output tests
  .pre-commit-config.yaml
  tests/output/CMakeLists.txt
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.hdf5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.hdf5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.hdf5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-per-det-auto-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-auto.hdf5ls
  tests/output/macros/ntuple-per-det-auto.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-auto.mac
  tests/output/macros/ntuple-per-det-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-auto-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-auto.hdf5ls
  tests/output/macros/ntuple-per-det-vol-auto.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-auto.mac
  tests/output/macros/ntuple-per-det-vol-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol.hdf5ls-lh5
  tests/output/macros/ntuple-per-det.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks.hdf5ls-lh5
  tests/output/macros/ntuple-single-table.hdf5ls-lh5
  tests/output/run-test-hdf5.sh
Due: disallow-caps

bump pygama version and fix test build_hit config
  pyproject.toml
  tests/observables/config/hit_config.yaml
Due: disallow-caps

fix observables tests
  .pre-commit-config.yaml
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
Due: disallow-caps

fix path to lh5ls in output tests
  tests/output/run-test-hdf5.sh
Due: disallow-caps

Update README.md
  README.md
Due: disallow-caps, disallow-end-fence

handle non-stp auxiliary ntuples automatically when converting to LH5
  .gitignore
  include/RMGConvertLH5.hh
  include/RMGManager.hh
  src/RMGAnalysisReader.cc
  src/RMGConvertLH5.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGRunAction.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVertexOutputScheme.cc
  src/remage-from-lh5.cc
  src/remage-to-lh5.cc
Due: disallow-caps, clang-tidy

better IPC messages for output table names
  src/RMGGermaniumOutputScheme.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVertexOutputScheme.cc
Due: disallow-caps, clang-tidy

remove aux tables for input files
  include/RMGConvertLH5.hh
  src/RMGAnalysisReader.cc
  src/RMGConvertLH5.cc
  src/RMGRunAction.cc
  src/remage-from-lh5.cc
Due: disallow-caps, clang-tidy

fix tests
  tests/output/run-test-th228-chain.py
  tests/particlefilter/run-test-basicfilter.py
  tests/particlefilter/run-test-keepprocess.py
  tests/particlefilter/run-test-keepvolume.py
  tests/particlefilter/run-test-killprocess.py
  tests/particlefilter/run-test-killvolume.py
  tests/vertex/run-vtx.py
Due: disallow-caps

combine ipc sending and ntuple creation
  include/RMGManager.hh
  python/remage/post_proc.py
  src/RMGGermaniumOutputScheme.cc
  src/RMGManager.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVertexOutputScheme.cc
Due: disallow-caps, clang-tidy

refactor into RMGOutputManager
  docs/rmg-commands.md
  examples/05-MUSUN/main.cc
  examples/06-NeutronCapture/IsotopeOutputScheme.cc
  include/RMGManager.hh
  include/RMGOutputManager.hh
  src/CMakeLists.txt
  src/RMGEventAction.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGManager.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGOutputManager.cc
  src/RMGRunAction.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGUserAction.cc
  src/RMGVertexOutputScheme.cc
  src/remage.cc
  tests/internals/test-random.cc
Due: disallow-caps, clang-tidy

Update README.md (#417)
  README.md
Due: disallow-caps, disallow-end-fence

add output test for optional features
  tests/output/CMakeLists.txt
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.hdf5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/macros/ntuple-optionals.mac
  tests/output/macros/ntuple-per-det.mac
  tests/output/macros/ntuple-single-table-with-tracks.mac
  tests/output/macros/ntuple-single-table.mac
Due: disallow-caps

add tracks table to remage-to-lh5
  src/remage-to-lh5.cc
Due: disallow-caps, clang-tidy

docs: fix manual reference names
  docs/manual/confinement.md
  docs/manual/containers.md
  docs/manual/extend.md
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/manual/input.md
  docs/manual/install.md
  docs/manual/output.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

start improving output docs
  docs/conf.py.in
  docs/manual/analysis.md
  docs/manual/geometry.md
  docs/manual/index.md
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

docs: add some TCM analysis notes
  docs/manual/analysis.md
Due: disallow-caps, disallow-end-fence

docs: Add docstrings to RMGOutputManager class methods and constructor
  include/RMGOutputManager.hh
Due: disallow-caps, clang-tidy

docs: Add docstrings to RMGUserInit class and its methods
  include/RMGUserInit.hh
Due: disallow-caps, clang-tidy

docs: Populate RMGManager class with comprehensive docstrings
  include/RMGManager.hh
Due: disallow-caps, clang-tidy

exclude dependabot and pre-commit-ci authors from release notes
  .github/release.yml
Due: disallow-caps

Apply suggestions from code review
  include/RMGManager.hh
  include/RMGOutputManager.hh
  include/RMGUserInit.hh
Due: disallow-caps, clang-tidy

treat doxygen warnings as errors
  docs/Doxyfile.in
Due: disallow-caps

fix a bunch of doxygen errors
  include/RMGAnalysisReader.hh
  include/RMGGeneratorCosmicMuons.hh
  include/RMGGeneratorFromFile.hh
  include/RMGGeneratorMUSUNCosmicMuons.hh
  include/RMGGeneratorUtil.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGManager.hh
  include/RMGOpWLSProcess.hh
  include/RMGOpticalOutputScheme.hh
  include/RMGTrackOutputScheme.hh
  include/RMGVGenerator.hh
  include/RMGVOutputScheme.hh
  include/RMGVertexConfinement.hh
  include/RMGVertexOutputScheme.hh
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
