Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

Update RMGGeneratorFromFile compile error
  src/RMGGeneratorFromFile.cc
Due: disallow-caps, clang-tidy

docs: Update extend.md for the OutputManager refactoring
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

Update extend.md
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

docs: Update extend.md for the OutputManager refactoring (#564) [skip ci]
  docs/manual/extend.md
Due: disallow-caps, disallow-end-fence

docs: use new reference in confinement.md [skip ci]
  docs/manual/confinement.md
Due: disallow-caps, disallow-end-fence

docs: update for new detector registration
  docs/manual/geometry.md
Due: disallow-caps, disallow-end-fence

docs: update for new detector registration (#566) [skip ci]
  docs/manual/geometry.md
Due: disallow-caps, disallow-end-fence

Update python/remage/geombench/cli.py
  python/remage/geombench/cli.py
Due: disallow-caps

Add license information to geombench modules
  python/remage/geombench/__init__.py
  python/remage/geombench/__main__.py
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Refactor variable names in geombench modules for consistency: changed "X", "Y", "Z", and "Time" to "x", "y", "z", and "time" respectively.
  include/RMGGeomBench.hh
  python/remage/geombench/gdml_handling.py
  python/remage/geombench/summary_generator.py
  src/RMGGeomBenchOutputScheme.cc
Due: disallow-caps, clang-tidy

hotfix: only check gdml in the first process in multi-processing
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

lh5: downgrade verbosity level
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

improve random seed logging
  src/RMGManager.cc
Due: disallow-caps, clang-tidy

fix: logic bug in remage/logging.py prevented log messages to be shown
  python/remage/logging.py
Due: disallow-caps

fix: always configure non-colored logging handler when color unsupported
  python/remage/logging.py
Due: disallow-caps

fix: logging test
  tests/basics/CMakeLists.txt
Due: disallow-caps

test: improve basic surface error message
  tests/confinement/test_basic_surface.py
Due: disallow-caps

add missing vertex generator for file input
  docs/rmg-commands.md
  include/RMGMasterGenerator.hh
  include/RMGVertexFromPoint.hh
  src/CMakeLists.txt
  src/RMGMasterGenerator.cc
  src/RMGVertexFromPoint.cc
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

docs: fill todos and fix minor issues
  docs/_dependencies.md
  docs/conf.py.in
  docs/index.md
  docs/manual/analysis.md
  docs/manual/confinement.md
  docs/manual/generators.md
  docs/manual/input.md
  docs/manual/install.md
  docs/manual/output.md
  docs/manual/physicslist.md
  docs/manual/running.md
  docs/manual/visualization.md
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

docs: WIP physics
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

tests: test vertex/kinetics input from the same file
  tests/vertex/CMakeLists.txt
  tests/vertex/create-test-input.py
  tests/vertex/macros/pos-kin-combined-lh5.mac
Due: disallow-caps

ipc: pause all processes whil handling blocking ipc from multiprocess mode
  python/remage/ipc.py
Due: disallow-caps

cli: only show banner for one process in multiprocess mode
  src/remage.cc
Due: disallow-caps, clang-tidy

docs: update rmg-commands for new bxdecay0 version
  docs/rmg-commands.md
Due: none

docs: update rmg-commands for new bxdecay0 version (#576) [skip ci]
  docs/rmg-commands.md
Due: none

fix: dockerhub build hook was removed by mistake?
  .dockerhub/hooks/build
  .gitignore
Due: disallow-caps

Update workflow to test stable container version
  .github/workflows/main.yml
Due: disallow-caps

dockerfile: update remage base flavor to stable
  .dockerhub/Dockerfile
Due: disallow-caps

fix MUSUN reader for G4 11.4 compatibility
  include/RMGGeneratorMUSUNCosmicMuons.hh
  src/RMGGeneratorMUSUNCosmicMuons.cc
Due: disallow-caps, clang-tidy

Revert "docs: update rmg-commands for new bxdecay0 version (#576) [skip ci]"
  docs/rmg-commands.md
Due: none

Revert "docs: update rmg-commands for new bxdecay0 version (#576) [skip ci]" (#577)
  docs/rmg-commands.md
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
