Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

fix renaming output files over filesystem boundaries
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

also send tmpdir over ipc
  include/RMGOutputManager.hh
  src/RMGOutputManager.cc
Due: disallow-caps, clang-tidy

RMGAnalysisReader: store temporary files in output directory
  src/RMGAnalysisReader.cc
Due: disallow-caps, clang-tidy

rework combine_low_energy_tracks
  include/RMGOutputTools.hh
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

fix case for no output file
  src/RMGAnalysisReader.cc
Due: disallow-caps, clang-tidy

declare us incompatible with the next reboost
  pyproject.toml
Due: disallow-caps

RMGAnalysisReader: store temporary files in output directory (#606)
  src/RMGAnalysisReader.cc
Due: disallow-caps, clang-tidy

Revert "declare us incompatible with the next reboost"
  pyproject.toml
Due: disallow-caps

Make copilot happy
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

support geant4 registries in remage_run
  pyproject.toml
  python/remage/cli.py
  tests/python/test_geom_input.py
Due: disallow-caps

rework combine_low_energy_tracks (#607)
  include/RMGOutputTools.hh
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

remove docs landing page banner
  docs/index.md
Due: disallow-caps, disallow-end-fence

confinement: add option to weigh by mass instead of volume
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

tests: add tests for the mass sampling mode
  tests/confinement/CMakeLists.txt
  tests/confinement/gdml/geometry_weight.gdml
  tests/confinement/gdml/geometry_weight.py
  tests/confinement/test_weighting.py
Due: disallow-caps

confinement: add otion to weight by isotope mass
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

increase clang-tidy happiness
  include/RMGPrimaryTransformer.hh
Due: disallow-caps, clang-tidy

confinement: calculate mass in one go
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

tests: add tests for the isotope sampling mode
  tests/confinement/gdml/geometry_weight.gdml
  tests/confinement/gdml/geometry_weight.py
  tests/confinement/test_weighting.py
Due: disallow-caps

docs: document weighting modes
  docs/manual/confinement.md
Due: disallow-caps, disallow-end-fence

confinement: add better error messages for exclusion of surface/weighted sampling
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

docs: region defintion in GDML
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

docs: region defintion in GDML (#614)
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

Increase reboost version
  pyproject.toml
Due: disallow-caps

[tests] fix wrong fccd name
  tests/observables/config/hit_config.yaml
Due: disallow-caps

update to 0.10.0a1
  pyproject.toml
Due: disallow-caps

Update reboost to v0.10.0a2
  pyproject.toml
Due: disallow-caps

another small fix
  tests/observables/plot_steps.py
Due: disallow-caps

Update plot_steps.py
  tests/observables/plot_steps.py
Due: disallow-caps

update reboost to v0.10.0 (#592)
  pyproject.toml
  tests/observables/config/hit_config.yaml
  tests/observables/plot_steps.py
Due: disallow-caps
