Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

First validation draft
  docs/validation/CMakeLists.txt
  docs/validation/bxdecay.md
  docs/validation/index.md
Due: disallow-caps, disallow-end-fence

Adjust statistics and add more decays
  docs/rmg-commands.md
  docs/validation/CMakeLists.txt
  docs/validation/bxdecay.md
  docs/validation/bxdecay0.md
  docs/validation/index.md
  src/RMGSteppingAction.cc
  tests/CMakeLists.txt
  tests/bxdecay/CMakeLists.txt
  tests/bxdecay/run_sims.py
  tests/bxdecay0/CMakeLists.txt
  tests/bxdecay0/gdml/geometry.gdml
  tests/bxdecay0/macros/template.mac
  tests/bxdecay0/macros/template2.mac
  tests/bxdecay0/plot_decay_modes.py
  tests/bxdecay0/run_sims.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Decrease tolerance in checks of surface sampling
  tests/confinement/test_basic_surface.py
Due: disallow-caps

get rid of tol_colors package dependency
  pyproject.toml
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
Due: disallow-caps

[ci] add self-hosted runner
  .github/workflows/main.yml
Due: disallow-caps

fix failing tests on self-hosted runner?
  tests/hades/macros/run-2nbb.mac
Due: disallow-caps

initial changes for C++20
  .github/workflows/main.yml
  CMakeLists.txt
  include/RMGGrabmayrGCReader.hh
  include/RMGLog.icc
  include/RMGVOutputScheme.hh
  src/CMakeLists.txt
  src/RMGConvertLH5.cc
  src/RMGEventAction.cc
  src/RMGExceptionHandler.cc
  src/RMGHardware.cc
  src/RMGNavigationTools.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

add regex support for copy_nr in RegisterDetector
  docs/rmg-commands.md
  include/RMGHardware.hh
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
  tests/detectors/run_sims_det.py
  tests/detectors/test_output.py
Due: disallow-caps, clang-tidy

Update src/RMGHardwareMessenger.cc
  src/RMGHardwareMessenger.cc
Due: disallow-caps, clang-tidy

add regex support for copy_nr in RegisterDetector (#466)
  docs/rmg-commands.md
  include/RMGHardware.hh
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
  tests/detectors/run_sims_det.py
  tests/detectors/test_output.py
Due: disallow-caps, clang-tidy

fix .github/release.yml to properly exclude bots [skip ci]
  .github/release.yml
Due: disallow-caps

docs: switch to public repo link [skip ci]
  docs/manual/containers.md
Due: disallow-caps, disallow-end-fence

cmake: force minimum c++ version
  CMakeLists.txt
Due: disallow-caps

Updating the inner brem
  include/RMGInnerBremsstrahlungProcess.hh
  include/RMGPhysics.hh
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

Add inner bremsstrahlung_2
  include/RMGInnerBremsstrahlungProcess.hh
  include/RMGPhysics.hh
  src/CMakeLists.txt
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

Add inner bremsstrahlung
  src/CMakeLists.txt
Due: disallow-caps

drop python 3.9 support
  pyproject.toml
  python/remage/cli.py
  tests/bxdecay0/plot_decay_modes.py
  tests/confinement/make_ge_array_gdml.py
  tests/confinement/test_lar_intersection.py
  tests/observables/plot_observables.py
Due: disallow-caps

add stacking scheme for bulk electron tracks
  include/RMGHardware.hh
  include/RMGUserInit.hh
  include/RMGVolumeDistanceStacker.hh
  src/CMakeLists.txt
  src/RMGOutputTools.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

add Calorimeter detector and output scheme
  include/RMGCalorimeterDetector.hh
  include/RMGCalorimeterOutputScheme.hh
  include/RMGDetectorMetadata.hh
  src/CMakeLists.txt
  src/RMGCalorimeterDetector.cc
  src/RMGCalorimeterOutputScheme.cc
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

add install-remage-python.sh [skip ci]
  python/install-remage-python.sh
Due: disallow-caps

Update CMakeLists.txt
  python/CMakeLists.txt
Due: disallow-caps

refactor out python package installation from cmake (#481)
  python/CMakeLists.txt
  python/install-remage-python.sh
Due: disallow-caps

resolve legend-pydataobj version conflict
  pyproject.toml
Due: disallow-caps

cmake: add option RMG_VERSION_SCM_USE_VENV
  cmake/modules/RMGSetuptoolsVersion.cmake
Due: disallow-caps
