Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

Update doc-dump
  docs/rmg-commands.md
Due: none

Add tests to check functionality of StoreAlways command
  tests/CMakeLists.txt
  tests/trackoutput/CMakeLists.txt
  tests/trackoutput/gdml/geometry.gdml
  tests/trackoutput/macros/run.mac
  tests/trackoutput/run_sims_trackoutput.py
  tests/trackoutput/test_trackoutput.py
Due: disallow-caps

Fix an error occuring when setting vertexgen late with bxdecay0
  include/RMGGeneratorDecay0.hh
  include/RMGMasterGenerator.hh
  src/RMGGeneratorDecay0.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Only check for late init if RMG_HAS_BXDECAY0
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Fix the mac mimimi
  include/RMGMasterGenerator.hh
Due: disallow-caps, clang-tidy

python: use same logic as C++ to decide color log support
  python/remage/logging.py
Due: disallow-caps

initial changes for C++20
  CMakeLists.txt
  include/RMGGrabmayrGCReader.hh
  include/RMGLog.icc
  include/RMGVOutputScheme.hh
  src/CMakeLists.txt
  src/RMGConvertLH5.cc
  src/RMGEventAction.cc
  src/RMGExceptionHandler.cc
  src/RMGHardware.cc
  src/RMGNavigationTools.cc
Due: disallow-caps, clang-tidy

Improve passing of the vertex gen to bxdecay
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Minor fixes and add doxygen
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Adjust documentation
  include/RMGGeneratorDecay0.hh
  src/RMGMasterGenerator.cc
Due: disallow-caps, clang-tidy

Fix CI?
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

ci: hopefully fix intermittent CI failures
  python/CMakeLists.txt
Due: disallow-caps

next try
  python/CMakeLists.txt
Due: disallow-caps

ci: hopefully fix intermittent CI failures (#449)
  python/CMakeLists.txt
Due: disallow-caps

fix vertex egnerator selection with BxDecay0 generator (#446)
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
  src/RMGMasterGenerator.cc
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

Only output mapped Processes that were not discarded
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Always check for duplicate process IDs
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Fix wrong doxygen comment
  include/RMGTrackOutputScheme.hh
Due: disallow-caps, clang-tidy

Change to snake case in RMGTrackEntry
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Allow the TrackOutput to be discarded. (#445)
  docs/rmg-commands.md
  include/RMGTrackOutputScheme.hh
  src/RMGTrackOutputScheme.cc
  tests/CMakeLists.txt
  tests/trackoutput/CMakeLists.txt
  tests/trackoutput/gdml/geometry.gdml
  tests/trackoutput/macros/run.mac
  tests/trackoutput/run_sims_trackoutput.py
  tests/trackoutput/test_trackoutput.py
Due: disallow-caps, clang-tidy

deduplicate tables on post-proc and convert to structs
  python/remage/post_proc.py
Due: disallow-caps

store copy_nr in DetectorMeta
  include/RMGDetectorMetadata.hh
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

adjust tests
  tests/output/dumps/ntuple-no-stp-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.hdf5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.hdf5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.hdf5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.hdf5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-no-stp.mac
  tests/output/run-test-hdf5.sh
Due: disallow-caps

refactor global position code into RMGNavigationTools
  include/RMGNavigationTools.hh
  include/RMGVertexConfinement.hh
  src/RMGNavigationTools.cc
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

store global positions of detectors
  include/RMGGermaniumOutputScheme.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

docs: add docs for detector_origins
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

initial changes for C++20
  .github/workflows/main.yml
  CMakeLists.txt
  include/RMGGrabmayrGCReader.hh
  include/RMGLog.icc
  include/RMGVOutputScheme.hh
  src/CMakeLists.txt
  src/RMGConvertLH5.cc
  src/RMGEventAction.cc
  src/RMGExceptionHandler.cc
  src/RMGHardware.cc
  src/RMGNavigationTools.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

lint also .py.in files
  .pre-commit-config.yaml
  docs/conf.py.in
  docs/validation/conf.py.in
Due: disallow-caps

docs: improve install docs
  docs/_dependencies.md
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

define sphinx geant4 macro lexer
  docs/conf.py.in
  docs/developer.md
  docs/manual/confinement.md
  docs/manual/containers.md
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

fix manual section about vertices from external files
  docs/manual/confinement.md
  docs/manual/generators.md
Due: disallow-caps, disallow-end-fence
