Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

activate the Vertex scheme over the optional output scheme mechanism
  include/RMGOutputManager.hh
  include/RMGUserInit.hh
  src/CMakeLists.txt
  src/RMGHardware.cc
  src/RMGUserInit.cc
  tests/neutrons/macros/energy_scan.mac
Due: disallow-caps, clang-tidy

Update reboost dependency version to 0.11.0 [skip ci]
  pyproject.toml
Due: disallow-caps

feat: update muon tests to include neutron yield calculations and improve energy loss plotting
  tests/cosmogenics/muon/CMakeLists.txt
  tests/cosmogenics/muon/misc/densities.yaml
  tests/cosmogenics/muon/misc/energy_loss.yaml
  tests/cosmogenics/muon/misc/is_stable.yaml
  tests/cosmogenics/muon/misc/neutron_yield.yaml
  tests/cosmogenics/muon/test_energy_loss.py
  tests/cosmogenics/muon/test_particle_yield.py
Due: disallow-caps

feat: add KillSecondaries option to control secondary particle tracking
  docs/rmg-commands.md
  tests/cosmogenics/muon/test_energy_loss.py
Due: disallow-caps

feat: add muon physics validation tests based on energy loss simulation
  docs/rmg-commands.md
  docs/validation/muon_physics.md
  tests/cosmogenics/CMakeLists.txt
  tests/cosmogenics/muon/CMakeLists.txt
  tests/cosmogenics/muon/test_energy_loss.py
Due: disallow-caps, disallow-end-fence

feat: implemented a wrapper around the UserSpecialCuts for EkinMin but with additional filtering for particle type
  docs/CMakeLists.txt
  docs/docutils.conf
  docs/rmg-commands.md
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/muon_physics.md
  include/RMGHardware.hh
  include/RMGHardwareMessenger.hh
  include/RMGSelectiveEkinMinCutProcess.hh
  src/CMakeLists.txt
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
  src/RMGPhysics.cc
  src/RMGSelectiveEkinMinCutProcess.cc
  tests/cosmogenics/muon/CMakeLists.txt
  tests/cosmogenics/muon/misc/energy_loss.yaml
  tests/cosmogenics/muon/misc/neutron_yield.yaml
  tests/cosmogenics/muon/test_energy_loss.py
  tests/cosmogenics/muon/test_particle_yield.py
  tests/processes/CMakeLists.txt
  tests/processes/selective_ekin_min.py
Due: disallow-caps, disallow-end-fence, clang-tidy

feat: Adding FLUKA comparison for neutron yield and isotope production. In addition, individual neutron production per particle was added to compare physics lists, materials and energies.
  docs/rmg-commands.md
  docs/validation/CMakeLists.txt
  docs/validation/muon_physics.md
  tests/cosmogenics/muon/CMakeLists.txt
  tests/cosmogenics/muon/fluka_comparison/enrGe-100GeV_isotope-production.json
  tests/cosmogenics/muon/fluka_comparison/enrGe-100GeV_neutron-multiplicity.json
  tests/cosmogenics/muon/fluka_comparison/enrGe-100GeV_neutron-yield.json
  tests/cosmogenics/muon/fluka_comparison/lar-100GeV_isotope-production.json
  tests/cosmogenics/muon/fluka_comparison/lar-100GeV_neutron-multiplicity.json
  tests/cosmogenics/muon/fluka_comparison/lar-100GeV_neutron-yield.json
  tests/cosmogenics/muon/fluka_comparison/lar-280GeV_isotope-production.json
  tests/cosmogenics/muon/fluka_comparison/lar-280GeV_neutron-multiplicity.json
  tests/cosmogenics/muon/fluka_comparison/lar-280GeV_neutron-yield.json
  tests/cosmogenics/muon/fluka_comparison/rock-100GeV_isotope-production.json
  tests/cosmogenics/muon/fluka_comparison/rock-100GeV_neutron-multiplicity.json
  tests/cosmogenics/muon/fluka_comparison/rock-100GeV_neutron-yield.json
  tests/cosmogenics/muon/fluka_comparison/water-100GeV_isotope-production.json
  tests/cosmogenics/muon/fluka_comparison/water-100GeV_neutron-multiplicity.json
  tests/cosmogenics/muon/fluka_comparison/water-100GeV_neutron-yield.json
  tests/cosmogenics/muon/fluka_comparison/water-280GeV_isotope-production.json
  tests/cosmogenics/muon/fluka_comparison/water-280GeV_neutron-multiplicity.json
  tests/cosmogenics/muon/fluka_comparison/water-280GeV_neutron-yield.json
  tests/cosmogenics/muon/misc/densities.yaml
  tests/cosmogenics/muon/misc/is_stable.yaml
  tests/cosmogenics/muon/test_energy_loss.py
  tests/cosmogenics/muon/test_particle_yield.py
  tests/processes/selective_ekin_min.py
Due: disallow-caps, disallow-end-fence

drop support for python 3.10
  docs/validation/conf.py.in
  pyproject.toml
Due: disallow-caps

fix gps vertex position assignment
  include/RMGGeneratorGPS.hh
Due: disallow-caps, clang-tidy

docs: update rtd base image [skip ci]
  .readthedocs.yaml
Due: disallow-caps

tests: add a test for multivertex gps
  tests/vertex/CMakeLists.txt
  tests/vertex/macros/pos-lh5-multivertex.mac
  tests/vertex/run-vtx.py
Due: disallow-caps

rename number_of_events to number_of_simulated_events
  docs/manual/output.md
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  tests/gespectrum/plot_gespectrum.py
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/verify_lh5_nevents.py
Due: disallow-caps, disallow-end-fence, clang-tidy

ci: add skip conditions for validation
  .github/workflows/validation.yml
Due: disallow-caps

tests: fix vertex tests for odd number of cpus
  tests/vertex/run-vtx.py
Due: disallow-caps

ci: add skip conditions for validation (#668) [skip ci]
  .github/workflows/validation.yml
Due: disallow-caps

ci: fix validation condition
  .github/workflows/validation.yml
Due: disallow-caps

ci: fix validation condition (#671) [skip ci]
  .github/workflows/validation.yml
Due: disallow-caps

chore: created local 'AI_POLICY.md' from remote 'files/AI_POLICY.md'
  AI_POLICY.md
Due: disallow-caps, disallow-end-fence

chore: created local 'AI_POLICY.md' from remote 'files/AI_POLICY.md' (#672) [skip ci]
  AI_POLICY.md
Due: disallow-caps, disallow-end-fence

tests: use tolerance in more surface confinement comparisons
  tests/confinement/test_basic_surface.py
Due: disallow-caps

tests: modernize surface test to use remage_run
  tests/confinement/CMakeLists.txt
  tests/confinement/macros/gen-surface.mac
  tests/confinement/macros/vis-surface.mac
  tests/confinement/test_basic_surface.py
Due: disallow-caps

tests: add some docs and minor fixes to surface confinement test
  tests/confinement/test_basic_surface.py
Due: disallow-caps

docs: rewrite gespectrum validation page
  docs/validation/gespectrum.md
Due: disallow-caps, disallow-end-fence

tests(gespectrum): update plot style and energy range
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

tests(gespectrum): scale MC to data instead of data to MC
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

tests(gespectrum): plot z-score residuals with sigma bands
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps
