Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

ci: upload validation report from self-hosted ci runner
  .github/workflows/validation.yml
Due: disallow-caps

ci: do not `make sphinx`
  .github/workflows/validation.yml
Due: disallow-caps

Update validation.yml
  .github/workflows/validation.yml
Due: disallow-caps

ci: remove validation from main
  .github/workflows/main.yml
Due: disallow-caps

Increase reboost version
  pyproject.toml
Due: disallow-caps

ci: do not check tcm attributes in output tests
  tests/output/run-test-hdf5.sh
Due: disallow-caps

upload validation report from CI runner (#596)
  .github/workflows/main.yml
  .github/workflows/validation.yml
Due: disallow-caps

ci: fix validation
  .github/workflows/validation.yml
Due: disallow-caps

Add combine_tracks validation (#585)
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/performance.md
  tests/CMakeLists.txt
  tests/performance/CMakeLists.txt
  tests/performance/combine_tracks_benchmark.py
  tests/performance/gdml/geometry-box.gdml
  tests/performance/macros/template.mac
Due: disallow-caps, disallow-end-fence

Add neutron validation runs
  pyproject.toml
  tests/CMakeLists.txt
  tests/neutrons/CMakeLists.txt
  tests/neutrons/gdml/geometry.gdml
  tests/neutrons/macros/template.mac
  tests/neutrons/make_gdml.py
  tests/neutrons/plot_captures.py
  tests/neutrons/run_sims.py
Due: disallow-caps

Add validation page
  docs/validation/CMakeLists.txt
  docs/validation/index.md
  docs/validation/neutrons.md
  tests/neutrons/plot_captures.py
Due: disallow-caps, disallow-end-fence

Added optimization to the safety check for the volume distance stacker
  include/RMGEventAction.hh
  include/RMGOutputTools.hh
  include/RMGStackingAction.hh
  include/RMGVolumeDistanceStacker.hh
  src/RMGEventAction.cc
  src/RMGOutputTools.cc
  src/RMGStackingAction.cc
  src/RMGVolumeDistanceStacker.cc
Due: disallow-caps, clang-tidy

try macOS conda
  .github/workflows/conda.yml
Due: disallow-caps

Update conda.yml
  .github/workflows/conda.yml
Due: disallow-caps

docs: explain recently reported conda problems
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

Update install.md
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

docs: explain recently reported conda problems (#602)
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

align scintillator edep cut with germanium
  docs/manual/output.md
  docs/rmg-commands.md
  src/RMGGermaniumOutputScheme.cc
  src/RMGScintillatorOutputScheme.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

docs: add install instructions for dependencies from conda-forge
  docs/developer.md
Due: disallow-caps, disallow-end-fence

Update developer.md
  docs/developer.md
Due: disallow-caps, disallow-end-fence

add --tmpdir option
  include/RMGOutputManager.hh
  src/RMGAnalysisReader.cc
  src/RMGOutputManager.cc
  src/RMGRunAction.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

increase clang-tidy happiness
  include/RMGPrimaryTransformer.hh
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
