Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

ci: add docker hub build workflow
  .github/workflows/docker-build.yaml
Due: disallow-caps

ci: remove pull_request trigger for now [skip ci]
  .github/workflows/docker-build.yaml
Due: disallow-caps

ci: remove old build hook
  .dockerhub/.dockerignore
  .dockerhub/hooks/build
  .github/workflows/docker-build.yaml
  Dockerfile
Due: disallow-caps

cmake: adjust for new baseimage
  cmake/modules/DependencyGraph.cmake
Due: disallow-caps

docs: rebuild command reference
  docs/rmg-commands.md
Due: none

cmake: disable tls verification for geant4 tag file download
  docs/CMakeLists.txt
Due: disallow-caps

python: adjust geombench gdml handling for python 3.14
  python/remage/geombench/cli.py
  python/remage/geombench/gdml_handling.py
  tests/python/test_geombench_gdml.py
Due: disallow-caps

make clang tidy happy
  include/RMGDetectorMetadata.hh
  include/RMGLog.hh
  include/RMGLog.icc
  include/RMGTools.hh
  include/RMGUserInit.hh
  src/RMGAnalysisReader.cc
  src/RMGConvertLH5.cc
  src/RMGGeneratorCosmicMuons.cc
  src/RMGGeneratorUtil.cc
  src/RMGGeomBench.cc
  src/RMGGermaniumOutputScheme.cc
  src/RMGGrabmayrGCReader.cc
  src/RMGHardware.cc
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGIpc.cc
  src/RMGIsotopeFilterScheme.cc
  src/RMGLog.cc
  src/RMGNavigationTools.cc
  src/RMGOutputTools.cc
  src/RMGParticleFilterScheme.cc
  src/RMGRunAction.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGTrackOutputScheme.cc
  src/RMGUserInit.cc
  src/RMGVertexConfinement.cc
  tests/cosmogenics/MUSUN/main.cc
  tests/cosmogenics/NeutronCapture/main.cc
  tests/cosmogenics/surface/main.cc
Due: disallow-caps, clang-tidy

Update staging docs
  docs/manual/staging.md
Due: disallow-caps, disallow-end-fence

Add to perfomance validation
  docs/validation/CMakeLists.txt
  docs/validation/performance.md
  tests/staging/test_muon_stress.py
  tests/staging/test_physics_regression.py
  tests/staging/test_throughput.py
Due: disallow-caps, disallow-end-fence

Try to fix G4.11.4 issue
  src/RMGStagingScheme.cc
Due: disallow-caps, clang-tidy

Update macro docs
  docs/rmg-commands.md
  src/RMGStagingScheme.cc
Due: disallow-caps, clang-tidy

Add tests
  tests/staging/test_muon_stress.py
  tests/staging/test_spill_roundtrip.py
Due: disallow-caps

Improve tests
  tests/staging/test_muon_stress.py
  tests/staging/test_spill_roundtrip.py
Due: disallow-caps

Make sphinx and clang-tidy happy
  include/RMGStagingScheme.hh
  src/RMGRunAction.cc
  src/RMGStagingScheme.cc
Due: disallow-caps, clang-tidy

Add RMG custom stacking option
  include/RMGParticleFilterScheme.hh
  include/RMGStagingScheme.hh
  include/RMGVOutputScheme.hh
  src/RMGRunAction.cc
  src/RMGStackingAction.cc
  src/RMGStagingScheme.cc
Due: disallow-caps, clang-tidy

Add vector re-allocation after each event
  src/RMGStagingScheme.cc
Due: disallow-caps, clang-tidy

docs: switch to proper command references
  docs/manual/staging.md
Due: disallow-caps, disallow-end-fence

fixes for code review findings
  docs/manual/staging.md
  docs/rmg-commands.md
  src/RMGStagingScheme.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

docs: fix validation docs for staging
  docs/validation/performance.md
Due: disallow-caps, disallow-end-fence

cmake: copy validation images by build-time glob
  cmake/CopyTestImages.cmake
  docs/developer.md
  docs/validation/CMakeLists.txt
  docs/validation/observables-ge.md
  tests/observables/plot_steps.py
Due: disallow-caps, disallow-end-fence

tests: gespectrum: also produce pdf plots
  docs/validation/CMakeLists.txt
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

ci: also upload all validation images, even unreferenced
  .github/workflows/validation.yml
Due: disallow-caps

wip cluster timing test
  tests/CMakeLists.txt
  tests/clustering/CMakeLists.txt
  tests/clustering/macros/template.mac
  tests/clustering/plot_clustering.py
  tests/clustering/run_sim.py
  tests/observables/plot_observables.py
Due: disallow-caps

tests: add plots for clustering
  docs/validation/CMakeLists.txt
  tests/CMakeLists.txt
  tests/cluster-plots/CMakeLists.txt
  tests/cluster-plots/macros/_init.mac
  tests/cluster-plots/macros/cluster.mac
  tests/cluster-plots/macros/nocluster.mac
  tests/cluster-plots/make_figure.py
  tests/cluster-plots/make_geometry.py
Due: disallow-caps

tests: confinement summary plot
  docs/validation/CMakeLists.txt
  docs/validation/confinement.md
  tests/CMakeLists.txt
  tests/confinement-plots/CMakeLists.txt
  tests/confinement-plots/macros/_init.mac
  tests/confinement-plots/macros/detector-surface-depth.mac
  tests/confinement-plots/macros/detector-surface.mac
  tests/confinement-plots/macros/lar-cylinder-intersection.mac
  tests/confinement-plots/macros/lar-cylinder-subtraction.mac
  tests/confinement-plots/macros/union-detectors.mac
  tests/confinement-plots/make_figure.py
  tests/confinement-plots/make_geometry.py
Due: disallow-caps, disallow-end-fence

make observables/clustering plots nicer
  tests/clustering/plot_clustering.py
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
