Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

examples: remove examples 1-3
  examples/01-gdml/CMakeLists.txt
  examples/01-gdml/gdml/bottom_plate.gdml
  examples/01-gdml/gdml/cryostat.gdml
  examples/01-gdml/gdml/define_cryostat.xml
  examples/01-gdml/gdml/define_lead_castle.xml
  examples/01-gdml/gdml/define_plexiglass_source_holder.xml
  examples/01-gdml/gdml/define_positions.xml
  examples/01-gdml/gdml/define_source.xml
  examples/01-gdml/gdml/detector.gdml
  examples/01-gdml/gdml/holder.gdml
  examples/01-gdml/gdml/lead_castle_table1.gdml
  examples/01-gdml/gdml/main.gdml
  examples/01-gdml/gdml/plexiglass_source_holder.gdml
  examples/01-gdml/gdml/source_encapsulated_ba_HS4.gdml
  examples/01-gdml/gdml/wrap.gdml
  examples/01-gdml/main.cc
  examples/01-gdml/run.mac
  examples/01-gdml/vis-cutaway.mac
  examples/01-gdml/vis-traj.mac
  examples/02-hpge/CMakeLists.txt
  examples/02-hpge/HPGeTestStand.cc
  examples/02-hpge/HPGeTestStand.hh
  examples/02-hpge/main.cc
  examples/02-hpge/run.mac
  examples/02-hpge/vis-cutaway.mac
  examples/02-hpge/vis-traj.mac
  examples/03-optics/CMakeLists.txt
  examples/03-optics/gdml/geometry.gdml
  examples/03-optics/main.cc
  examples/03-optics/run.mac
  examples/03-optics/vis-traj.mac
  examples/CMakeLists.txt
Due: disallow-caps, clang-tidy

tests: move examples 4-6 to tests
  CMakeLists.txt
  examples/04-cosmogenics/CMakeLists.txt
  examples/04-cosmogenics/vis-cutaway.mac
  examples/04-cosmogenics/vis-traj.mac
  examples/05-MUSUN/CMakeLists.txt
  examples/05-MUSUN/vis-cutaway.mac
  examples/05-MUSUN/vis-traj.mac
  examples/06-NeutronCapture/CMakeLists.txt
  examples/06-NeutronCapture/vis-traj.mac
  examples/CMakeLists.txt
  tests/CMakeLists.txt
  tests/cosmogenics/CMakeLists.txt
  tests/cosmogenics/MUSUN/CMakeLists.txt
  tests/cosmogenics/MUSUN/HPGeTestStand.cc
  tests/cosmogenics/MUSUN/HPGeTestStand.hh
  tests/cosmogenics/MUSUN/MUSUN_100_events.csv
  tests/cosmogenics/MUSUN/main.cc
  tests/cosmogenics/MUSUN/run.mac
  tests/cosmogenics/NeutronCapture/CMakeLists.txt
  tests/cosmogenics/NeutronCapture/GammaCascades/156Gd-100Entries.txt
  tests/cosmogenics/NeutronCapture/GammaCascades/158Gd-100Entries.txt
  tests/cosmogenics/NeutronCapture/HPGeTestStand.cc
  tests/cosmogenics/NeutronCapture/HPGeTestStand.hh
  tests/cosmogenics/NeutronCapture/IsotopeOutputScheme.cc
  tests/cosmogenics/NeutronCapture/IsotopeOutputScheme.hh
  tests/cosmogenics/NeutronCapture/main.cc
  tests/cosmogenics/NeutronCapture/run.mac
  tests/cosmogenics/NeutronCapture/runNormalnCapture.mac
  tests/cosmogenics/NeutronCapture/runRMGnCapture.mac
  tests/cosmogenics/surface/CMakeLists.txt
  tests/cosmogenics/surface/HPGeTestStand.cc
  tests/cosmogenics/surface/HPGeTestStand.hh
  tests/cosmogenics/surface/main.cc
  tests/cosmogenics/surface/run.mac
  tests/examples/CMakeLists.txt
Due: disallow-caps, clang-tidy

output: store number of events in LH5 file
  include/RMGConvertLH5.hh
  include/RMGRunAction.hh
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  src/RMGRunAction.cc
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-no-vtx.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-shared.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/run-test-hdf5.sh
  tests/output/verify_lh5_nevents.py
Due: disallow-caps, clang-tidy

ci: do not set RMG_BUILD_EXAMPLES
  .github/workflows/main.yml
Due: disallow-caps

validation: do not set RMG_BUILD_EXAMPLES
  .github/workflows/validation.yml
Due: disallow-caps

cmake: remove alias for examples
  src/CMakeLists.txt
Due: disallow-caps

Update CMakeLists.txt [skip ci]
  tests/cosmogenics/MUSUN/CMakeLists.txt
Due: disallow-caps

Update CMakeLists.txt [skip ci]
  tests/cosmogenics/NeutronCapture/CMakeLists.txt
Due: disallow-caps

Update CMakeLists.txt
  tests/cosmogenics/surface/CMakeLists.txt
Due: disallow-caps

ci: do not set RMG_BUILD_EXAMPLES (#637)
  .github/workflows/main.yml
  .github/workflows/validation.yml
  src/CMakeLists.txt
  tests/cosmogenics/MUSUN/CMakeLists.txt
  tests/cosmogenics/NeutronCapture/CMakeLists.txt
  tests/cosmogenics/surface/CMakeLists.txt
Due: disallow-caps

tests: fix ge observables test for new reboost units
  tests/observables/config/hit_config.yaml
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
Due: disallow-caps

tests: paralellize observable tests
  tests/observables/CMakeLists.txt
  tests/observables/macros/template.mac
  tests/observables/run_sim.py
Due: disallow-caps

tests: update nist validation
  docs/validation/nist.md
  tests/nist/macros/run.mac
  tests/nist/run_e_sims.py
  tests/nist/test_electron_interactions.py
Due: disallow-caps, disallow-end-fence

tests: re-enable and document fluctuations
  docs/validation/nist.md
  tests/nist/run_e_sims.py
  tests/nist/test_electron_interactions.py
Due: disallow-caps, disallow-end-fence

Remove the zero energy skip in ScintillatorDetector::ProcessHits
  src/RMGScintillatorDetector.cc
Due: disallow-caps, clang-tidy

tests: changes and fixes of the nist tests
  docs/validation/nist.md
  tests/nist/macros/run.mac
  tests/nist/test_electron_interactions.py
Due: disallow-caps, disallow-end-fence

add flag to not track any secondaries
  docs/rmg-commands.md
  include/RMGSteppingAction.hh
  src/RMGSteppingAction.cc
Due: disallow-caps, clang-tidy

use global position for distance_to_surface
  include/RMGNavigationTools.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGNavigationTools.cc
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

remove misleading comment for germanium detector
  src/RMGGermaniumDetector.cc
Due: disallow-caps, clang-tidy

cache data for distance_to_surface calculations
  include/RMGNavigationTools.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGNavigationTools.cc
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

tests: improve distance_to_surface tests with mopre complex transforms
  tests/distances/CMakeLists.txt
  tests/distances/gdml/ge-array.gdml
  tests/distances/make_ge_gdml.py
  tests/distances/test_ge_distance.py
Due: disallow-caps

tests: try to fix timeout
  tests/observables/CMakeLists.txt
  tests/observables/run_sim.py
Due: disallow-caps

Update include/RMGVertexConfinement.hh
  include/RMGVertexConfinement.hh
Due: disallow-caps, clang-tidy

Add mypy type checks
  .pre-commit-config.yaml
Due: none

Change mypy hook file path from 'src' to 'python' [skip ci]
  .pre-commit-config.yaml
Due: none

Configure mypy [skip ci]
  pyproject.toml
Due: disallow-caps

Fix mypy typing errors across Python codebase (#652)
  .pre-commit-config.yaml
  python/remage/cli.py
  python/remage/find_remage.py
  python/remage/geombench/cli.py
  python/remage/geombench/summary_generator.py
  python/remage/ipc.py
  python/remage/logging.py
  python/remage/post_proc.py
  python/remage/utils.py
  tests/python/test_geombench_gdml.py
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add mypy type checks (#651)
  .pre-commit-config.yaml
  pyproject.toml
  python/remage/cli.py
  python/remage/find_remage.py
  python/remage/geombench/cli.py
  python/remage/geombench/summary_generator.py
  python/remage/ipc.py
  python/remage/logging.py
  python/remage/post_proc.py
  python/remage/utils.py
  tests/python/test_geombench_gdml.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
