Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

feat: added flag to also stage positrons with the electrong staging logic (default is they are not staged)
  docs/manual/staging.md
  docs/rmg-commands.md
  include/RMGStagingScheme.hh
  src/RMGStagingScheme.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

replace time grouping
  python/remage/reshaping.py
Due: disallow-caps

re-implemented calo non-reshaping
  python/remage/post_proc.py
  python/remage/reshaping.py
  tests/output/verify_lh5_pproc.py
  tests/python/test_pproc_reshaping.py
  tests/python/test_pproc_utils.py
Due: disallow-caps

tests: import some reboost tests
  tests/python/test_pproc_shape.py
  tests/python/test_pproc_utils.py
Due: disallow-caps

switch away froem GLMIterator
  python/remage/reshaping.py
Due: disallow-caps

tests: add end-to-end reshaping tests
  tests/python/test_pproc_reshaping.py
Due: disallow-caps

remove reboost dependency
  docs/manual/analysis.md
  pyproject.toml
Due: disallow-caps, disallow-end-fence

tests: add extra sanity checks
  python/remage/reshaping.py
  tests/python/test_pproc_reshaping.py
Due: disallow-caps

move reboost code to custom file
  python/CMakeLists.txt
  python/remage/post_proc.py
  python/remage/reshaping.py
Due: disallow-caps

tests: add iteration test for post-processing
  tests/python/conftest.py
  tests/python/test_pproc_glm.py
Due: disallow-caps

python: re-write reboost config to python
  python/remage/post_proc.py
  tests/output/run-test-hdf5.sh
  tests/output/verify_lh5_pproc.py
  tests/python/test_post_proc.py
Due: disallow-caps

move auxiliary functions
  python/remage/reshaping.py
Due: disallow-caps

reshaping: stream flat calorimeter tables in chunks
  python/remage/reshaping.py
  tests/python/test_pproc_reshaping.py
Due: disallow-caps

Revise arm64 Mac installation instructions
  docs/manual/install.md
Due: disallow-caps, disallow-end-fence

make clang-tidy happy
  include/RMGCalorimeterOutputScheme.hh
Due: disallow-caps, clang-tidy

re-enable zstd compression
  python/remage/__init__.py
  tests/python/test_pproc_reshaping.py
Due: disallow-caps

calorimeter output scheme: store floats as float32
  docs/manual/output.md
  src/RMGCalorimeterOutputScheme.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

physics: add missing SetProcessOrderingToLast for OpBoundary
  src/RMGPhysics.cc
  tests/gespectrum/plot_gespectrum.py
  tests/optics/test_attenuation.py
  tests/optics/test_detection.py
  tests/optics/test_scintillate.py
  tests/optics/test_wls.py
Due: disallow-caps, clang-tidy

feat: add depth profile support for surface-sampled vertices
  .gitignore
  AGENTS.md
  docs/manual/confinement.md
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
  tests/confinement/CMakeLists.txt
  tests/confinement/test-surface-sampler-methods.cpp
Due: disallow-caps, disallow-end-fence, clang-tidy

test: add end-to-end depth-profile validation with plots
  docs/validation/CMakeLists.txt
  docs/validation/confinement.md
  tests/confinement/CMakeLists.txt
  tests/confinement/macros/gen-depth-profile.mac
  tests/confinement/make_depth_box_gdml.py
  tests/confinement/test_depth_profile.py
Due: disallow-caps, disallow-end-fence

lh5: fix some inconsistencies
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

fix multiple minor problems for generators (docs)
  docs/rmg-commands.md
  include/RMGGeneratorMUSUNCosmicMuons.hh
  include/RMGVOutputScheme.hh
  include/RMGVertexConfinement.hh
  include/RMGVertexFromPoint.hh
  src/RMGGeneratorFromFile.cc
  src/RMGGeneratorMUSUNCosmicMuons.cc
  src/RMGGrabmayrGCReader.cc
  src/RMGVertexConfinement.cc
  src/RMGVertexFromPoint.cc
Due: disallow-caps, clang-tidy

make clang-tidy happy
  src/RMGCalorimeterOutputScheme.cc
Due: disallow-caps, clang-tidy

lh5: fix CLI name
  src/remage-from-lh5.cc
Due: disallow-caps, clang-tidy

lh5: do not leak read buffer
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
