Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

lh5: do not leak read buffer
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

fix multiple minor problems for generators (docs)
  docs/rmg-commands.md
  include/RMGGeneratorMUSUNCosmicMuons.hh
  include/RMGVOutputScheme.hh
  include/RMGVertexConfinement.hh
  include/RMGVertexFromPoint.hh
  src/RMGGeneratorFromFile.cc
  src/RMGGeneratorMUSUNCosmicMuons.cc
  src/RMGGrabmayrGCReader.cc
  src/RMGVertexConfinement.cc
  src/RMGVertexFromPoint.cc
Due: disallow-caps, clang-tidy

make clang-tidy happy
  src/RMGCalorimeterOutputScheme.cc
Due: disallow-caps, clang-tidy

fix EcoMug seeding
  include/RMGGeneratorCosmicMuons.hh
  src/RMGGeneratorCosmicMuons.cc
  tests/cosmogenics/muon/CMakeLists.txt
  tests/cosmogenics/muon/test_reproducibility.py
Due: disallow-caps, clang-tidy

MUSUN: close temp file after read
  src/RMGGeneratorMUSUNCosmicMuons.cc
Due: disallow-caps, clang-tidy

confinement: do not copy from sampleable object collection when choosing
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

confinement: cache list of all objects
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

input: abort when invalid input particle configuration
  src/RMGGeneratorFromFile.cc
Due: disallow-caps, clang-tidy

numerical fix in RMGGeneratorUtil
  src/RMGGeneratorUtil.cc
Due: disallow-caps, clang-tidy

other minor generator fixes
  include/RMGGeneratorUtil.hh
  include/RMGVertexConfinement.hh
  src/RMGGeneratorCosmicMuons.cc
  src/RMGGeneratorMUSUNCosmicMuons.cc
  src/RMGGeneratorUtil.cc
Due: disallow-caps, clang-tidy

input: shorten critical section in vtx reader
  src/RMGVertexFromFile.cc
Due: disallow-caps, clang-tidy

gps: remove our own GPS lock
  include/RMGGeneratorGPS.hh
Due: disallow-caps, clang-tidy

python: create better temp files for geom
  python/remage/cli.py
Due: disallow-caps

geombench: remove dead code
  python/remage/geombench/gdml_handling.py
Due: disallow-caps

geombench: delete geometry at dry-run
  python/remage/geombench/cli.py
Due: disallow-caps

geombench: use numpy for backprojecting
  python/remage/geombench/summary_generator.py
Due: disallow-caps

python: fix edge-cases in file overwrite logic
  python/remage/reshaping.py
Due: disallow-caps

python: improve integration and process handling
  python/remage/cli.py
  python/remage/find_remage.py
  python/remage/logging.py
Due: disallow-caps

python: better check for registry type
  python/remage/cli.py
Due: disallow-caps

python: only wait for our child processes
  python/remage/cli.py
Due: disallow-caps

better handle errors in ipc handling
  python/remage/ipc.py
Due: disallow-caps

python: only propagate aborted processes, not normal errors
  python/remage/cli.py
Due: disallow-caps

multiple test fixes
  docs/_extensions/warnings_filter.py
  docs/developer.md
  docs/validation/CMakeLists.txt
  tests/basics/run-mp-test-exit.sh
  tests/output/visit-hdf5.py
  tests/particlefilter/CMakeLists.txt
  tests/particlefilter/particlefilter_utils.py
  tests/particlefilter/run-test-basicfilter.py
  tests/particlefilter/run-test-keepprocess.py
  tests/particlefilter/run-test-keepvolume.py
  tests/particlefilter/run-test-killprocess.py
  tests/particlefilter/run-test-killvolume.py
  tests/python/test_logging.py
  tests/staging/staging_test_utils.py
  tests/staging/test_physics_regression.py
Due: disallow-caps, disallow-end-fence

simpfify gamma cascade reading
  src/RMGGrabmayrGCReader.cc
Due: disallow-caps, clang-tidy

ci: fix minor problems in workflows
  .github/workflows/distribution.yml
  .github/workflows/main.yml
Due: disallow-caps

simplify gamma cascade file randomization
  src/RMGGrabmayrGCReader.cc
Due: disallow-caps, clang-tidy

cmake: multiple fixes and improvements
  CMakeLists.txt
  cmake/cmake_uninstall.cmake.in
  cmake/modules/Colors.cmake
  cmake/modules/DependencyGraph.cmake
  cmake/modules/RMGSetuptoolsVersion.cmake
  cmake/remageConfig.cmake.in
  pyproject.toml
  tests/cosmogenics/MUSUN/CMakeLists.txt
  tests/cosmogenics/NeutronCapture/CMakeLists.txt
  tests/cosmogenics/surface/CMakeLists.txt
Due: disallow-caps

docker: also set pretend version for setuptools_scm
  .dockerhub/Dockerfile
Due: disallow-caps

make clang-tidy happy
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy
