Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

ci/docker: build from source tree instead of checkout
  .dockerignore
  .github/workflows/docker-build.yaml
  Dockerfile
Due: disallow-caps

cmake: write version/config header only to build dir
  src/CMakeLists.txt
Due: disallow-caps

cmake: write version/config header only to build dir (#707)
  src/CMakeLists.txt
Due: disallow-caps

innerbrem: conserve energy
  src/RMGInnerBremsstrahlungProcess.cc
  tests/processes/CMakeLists.txt
  tests/processes/innerbrem_conservation.py
Due: disallow-caps, clang-tidy

cmake: drop support for non-threadsafe bxdecay0
  CMakeLists.txt
  cmake/RMGConfig.hh.in
  docs/_dependencies.md
  src/RMGDefaultCli.cc
  src/RMGGeneratorDecay0.cc
  tests/hades/CMakeLists.txt
Due: disallow-caps, disallow-end-fence, clang-tidy

docs: remove outdated tools from doxygen excludes
  docs/Doxyfile.in
Due: disallow-caps

try to fix macOS CI
  .github/workflows/main.yml
Due: disallow-caps

Add zlib to conda installation in workflow
  .github/workflows/main.yml
Due: disallow-caps

ci: install zlib and expat from conda-forge for macOS (#748)
  .github/workflows/main.yml
Due: disallow-caps

docs: align better with the paper draft
  README.md
  docs/developer.md
  docs/index.md
  docs/manual/analysis.md
  docs/manual/confinement.md
  docs/manual/generators.md
  docs/manual/geombench.md
  docs/manual/geometry.md
  docs/manual/input.md
  docs/manual/output.md
  docs/manual/physicslist.md
  docs/manual/running.md
  docs/manual/staging.md
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

tests: update observables validation plots
  docs/validation/observables-ge.md
  tests/observables/plot_observables.py
Due: disallow-caps, disallow-end-fence

tests: adjust figure size
  tests/observables/plot_observables.py
Due: disallow-caps

chore: synced local 'AI_POLICY.md' with remote 'files/AI_POLICY.md'
  AI_POLICY.md
Due: disallow-caps, disallow-end-fence

docs: mention G4UI_USE_TCSH to force a terminal UI in interactive mode
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

docs: add figures from the remage paper to the manual
  docs/_img/clustering-event89.png
  docs/_img/confinement-modes.png
  docs/_img/geometry_scan.png
  docs/_img/speedup_log.png
  docs/manual/confinement.md
  docs/manual/geombench.md
  docs/manual/output.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

docs: showcase pixi exec in the README
  .github/img/remage-pixi-showcase.png
  README.md
Due: disallow-caps, disallow-end-fence

chore: post-process the validation tests with a python script
  docs/manual/analysis.md
  pyproject.toml
  tests/clustering/CMakeLists.txt
  tests/clustering/run_sim.py
  tests/gespectrum/plot_gespectrum.py
  tests/observables/CMakeLists.txt
  tests/observables/build_hit.py
  tests/observables/config/hit_config.yaml
  tests/observables/plot_steps.py
  tests/observables/run_sim.py
  tests/processes/CMakeLists.txt
  tests/processes/config/hit_config.yaml
  tests/processes/innerbrem_run_sims.py
Due: disallow-caps, disallow-end-fence

feat: add INCLXX physics lists to RMGPhysics + ABLA de-excitation of the excited remnant
  docs/rmg-commands.md
  include/RMGPhysics.hh
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

feat: also added LEND
  docs/manual/physicslist.md
  docs/rmg-commands.md
  include/RMGPhysics.hh
  src/RMGPhysics.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

Apply suggestions from code review
  pyproject.toml
  tests/observables/build_hit.py
Due: disallow-caps

chore: post-process the validation tests with a python script (#754)
  docs/manual/analysis.md
  pyproject.toml
  tests/clustering/CMakeLists.txt
  tests/clustering/run_sim.py
  tests/gespectrum/plot_gespectrum.py
  tests/observables/CMakeLists.txt
  tests/observables/build_hit.py
  tests/observables/config/hit_config.yaml
  tests/observables/plot_steps.py
  tests/observables/run_sim.py
  tests/processes/CMakeLists.txt
  tests/processes/config/hit_config.yaml
  tests/processes/innerbrem_run_sims.py
Due: disallow-caps, disallow-end-fence

fix: only test the tendl logic when the folder is provided
  src/RMGPhysics.cc
  tests/processes/tendl_light_ions.py
Due: disallow-caps, clang-tidy
