Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

refactor: rename vertex table
  src/RMGVertexOutputScheme.cc
  tests/confinement/test_basic_surface.py
  tests/confinement/test_confinement_ge.py
  tests/confinement/test_lar_intersection.py
  tests/confinement/test_lar_subtraction.py
  tests/observables/config/hit_config.yaml
  tests/observables/plot_observables.py
  tests/output/macros/ntuple-per-det-vol.hdf5ls
  tests/output/macros/ntuple-per-det-vol.hdf5ls-lh5
  tests/output/macros/ntuple-per-det.hdf5ls
  tests/output/macros/ntuple-per-det.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks.hdf5ls
  tests/output/macros/ntuple-single-table-with-tracks.hdf5ls-lh5
  tests/output/macros/ntuple-single-table.hdf5ls
  tests/output/macros/ntuple-single-table.hdf5ls-lh5
  tests/vertex/run-vtx.py
Due: disallow-caps, clang-tidy

move the vtx table out of the stp group, at the root
  src/RMGConvertLH5.cc
  tests/output/macros/ntuple-per-det-vol.hdf5ls-lh5
  tests/output/macros/ntuple-per-det.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks.hdf5ls-lh5
  tests/output/macros/ntuple-single-table.hdf5ls-lh5
Due: disallow-caps, clang-tidy

rename 'dbd' to 'DoubleBetaDecay'
  docs/manual/generators.md
  docs/rmg-commands.md
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

Merge pull request #396 from EricMEsch/update-usermanual
  docs/manual/generators.md
  docs/manual/install.md
  docs/manual/physicslist.md
  docs/rmg-commands.md
  include/RMGGeneratorDecay0.hh
  src/RMGGeneratorDecay0.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

upgrade to reboost 0.4
  pyproject.toml
  python/remage/post_proc.py
  tests/confinement/test_basic_surface.py
  tests/confinement/test_confinement_ge.py
  tests/confinement/test_lar_intersection.py
  tests/confinement/test_lar_subtraction.py
  tests/observables/plot_observables.py
  tests/output/macros/ntuple-per-det-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks-jag.hdf5ls-lh5
  tests/python/CMakeLists.txt
  tests/python/test_post_proc.py
  tests/vertex/run-vtx.py
Due: disallow-caps

refactor: rename macro config variable and expand docs
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/manual/output.md
  docs/manual/running.md
  include/RMGManager.hh
  src/RMGManager.cc
  src/remage.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

add docker container docs
  docs/manual/containers.md
  docs/manual/index.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

fix: correct authors in source headers
  include/RMGGrabmayrGCReader.hh
  include/RMGHardwareMessenger.hh
  include/RMGIsotopeFilterScheme.hh
  include/RMGNeutronCaptureProcess.hh
  include/RMGScintillatorDetector.hh
  include/RMGScintillatorOutputScheme.hh
  include/RMGTrackOutputScheme.hh
  include/RMGVertexOutputScheme.hh
  src/RMGGeneratorMUSUNCosmicMuons.cc
  src/RMGGrabmayrGCReader.cc
  src/RMGHardwareMessenger.cc
  src/RMGIsotopeFilterScheme.cc
  src/RMGNeutronCaptureProcess.cc
  src/RMGScintillatorDetector.cc
  src/RMGScintillatorOutputScheme.cc
  src/RMGStackingAction.cc
  src/RMGTrackOutputScheme.cc
  src/RMGVertexOutputScheme.cc
Due: disallow-caps, clang-tidy

upgrade to reboost 0.5
  pyproject.toml
Due: disallow-caps

update observables test to support latest reboost
  tests/observables/config/hit_config.yaml
  tests/observables/run_sim.py
Due: disallow-caps

some fixes
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
  tests/observables/run_sim.py
Due: disallow-caps

upgrade to reboost 0.5
  pyproject.toml
  python/remage/post_proc.py
  tests/confinement/test_basic_surface.py
  tests/confinement/test_confinement_ge.py
  tests/confinement/test_lar_intersection.py
  tests/confinement/test_lar_subtraction.py
  tests/observables/config/hit_config.yaml
  tests/observables/plot_observables.py
  tests/observables/plot_steps.py
  tests/observables/run_sim.py
  tests/output/macros/ntuple-per-det-jag.hdf5ls-lh5
  tests/output/macros/ntuple-per-det-vol-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-jag.hdf5ls-lh5
  tests/output/macros/ntuple-single-table-with-tracks-jag.hdf5ls-lh5
  tests/python/CMakeLists.txt
  tests/python/test_post_proc.py
  tests/vertex/run-vtx.py
Due: disallow-caps

wrapper: reshape and merge in one go and add tests
  python/remage/post_proc.py
  tests/python/CMakeLists.txt
  tests/python/gdml/geometry.gdml
  tests/python/gdml/geometry.py
  tests/python/macros/run.mac
  tests/python/test_file_merging.py
Due: disallow-caps

forward table names from remage-cpp to wrapper via ICP
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

add the TCM object
  pyproject.toml
  python/remage/post_proc.py
Due: disallow-caps

fix unit on coincidence window
  python/remage/post_proc.py
Due: disallow-caps

wrapper: reshape and merge in one go and add tests
  pyproject.toml
  python/remage/cli.py
  python/remage/post_proc.py
  tests/python/CMakeLists.txt
  tests/python/gdml/geometry.gdml
  tests/python/gdml/geometry.py
  tests/python/macros/run.mac
  tests/python/test_file_merging.py
Due: disallow-caps

make ApplyCommand() calls more robust by checking return code
  src/RMGManager.cc
Due: disallow-caps, clang-tidy

test macro inputting
  tests/python/CMakeLists.txt
  tests/python/macros/run-a.mac
  tests/python/macros/run-b.mac
  tests/python/test_macro_input.py
Due: disallow-caps

Update src/RMGIsotopeFilterScheme.cc
  src/RMGIsotopeFilterScheme.cc
Due: disallow-caps, clang-tidy

improve log messaging in wrapper
  python/CMakeLists.txt
  python/remage/cli.py
  python/remage/find_remage.py
  python/remage/ipc.py
  python/remage/post_proc.py
  python/remage/utils.py
Due: disallow-caps

docs: fix running.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

remove support for ; and , as command separators
  docs/manual/running.md
  src/RMGManager.cc
  tests/python/test_macro_input.py
Due: disallow-caps, disallow-end-fence, clang-tidy

wrapper: reshape and merge in one go and add tests
  tests/python/CMakeLists.txt
  tests/python/macros/run.mac
Due: disallow-caps

compute and store a TCM in the LH5 output file
  pyproject.toml
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

ipc-send ntuple output directory name in the run action
  pyproject.toml
  src/RMGRunAction.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

Add docstrings to IPC module
  python/remage/ipc.py
Due: disallow-caps

Apply suggestions from code review
  python/remage/ipc.py
Due: disallow-caps

binary format docs [skip ci]
  python/remage/ipc.py
Due: disallow-caps

Update ipc.py [skip ci]
  python/remage/ipc.py
Due: disallow-caps

add example tables [skip ci]
  python/remage/ipc.py
Due: disallow-caps
