Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

tests: measure and store simulation timing in the observables validation
  docs/validation/CMakeLists.txt
  docs/validation/observables-ge.md
  tests/observables/plot_observables.py
  tests/observables/run_sim.py
Due: disallow-caps, disallow-end-fence

tests: add validation for production cuts
  docs/validation/CMakeLists.txt
  docs/validation/observables-ge.md
  tests/observables/plot_observables.py
  tests/observables/run_sim.py
Due: disallow-caps, disallow-end-fence

tests: fix validation
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

Fix G4.11.4 bug with scintillation from photons
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

switch format strings in logging to std::string_view
  include/RMGLog.hh
  include/RMGLog.icc
Due: disallow-caps, clang-tidy

pre-commit: apply to icc files
  .pre-commit-config.yaml
  include/RMGLog.icc
Due: disallow-caps

docs: fix formatting
  include/RMGLog.hh
Due: disallow-caps, clang-tidy

docs: fix name of vertex input table in format specification
  docs/manual/input.md
Due: disallow-caps, disallow-end-fence

docs: clarify the arguments of SampleWeightByMassIsotope
  docs/manual/confinement.md
  docs/rmg-commands.md
  include/RMGVertexConfinement.hh
  src/RMGVertexConfinement.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

docs: document behavior of vertex/kinematics input in parallel runs
  docs/manual/input.md
  docs/manual/running.md
  include/RMGGeneratorFromFile.hh
  include/RMGVertexFromFile.hh
Due: disallow-caps, disallow-end-fence, clang-tidy

docs: recommend the LH5 format for input files
  docs/manual/input.md
Due: disallow-caps, disallow-end-fence

docs: fix low bound of production-cut energy range
  docs/manual/physicslist.md
Due: disallow-caps, disallow-end-fence

docs: clarify step limit command docs
  docs/rmg-commands.md
  src/RMGHardwareMessenger.cc
Due: disallow-caps, clang-tidy

ci: update build-and-inspect-python-package action
  .github/workflows/distribution.yml
Due: disallow-caps

remove unused cut store properties
  include/RMGPhysics.hh
Due: disallow-caps, clang-tidy

add macro command to print calculated cut values
  docs/rmg-commands.md
  include/RMGPhysics.hh
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

test: add basic unit tests for pure helpers
  tests/internals/CMakeLists.txt
  tests/internals/test-tools.cc
  tests/python/test_ipc_unit.py
  tests/python/test_logging.py
  tests/python/test_tmp_files.py
  tests/python/test_utils.py
Due: disallow-caps, clang-tidy

ci: add docker hub build workflow
  .github/workflows/docker-build.yaml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(EcoMug)/|^docs/rmg-commands.md
