Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

docs: add docstrings for several classes
  include/RMGGeneratorUtil.hh
  include/RMGMasterGenerator.hh
  include/RMGNavigationTools.hh
  include/RMGOpWLSProcess.hh
  include/RMGTools.hh
  include/RMGUserInit.hh
  include/RMGVGenerator.hh
  include/RMGVOutputScheme.hh
  include/RMGVVertexGenerator.hh
  include/RMGVertexConfinement.hh
Due: disallow-caps, clang-tidy

do not set fIsRandControlled=true when using seed from system entropy
  include/RMGManager.hh
  src/RMGManager.cc
Due: disallow-caps, clang-tidy

docs: fix manual reference names
  docs/manual/confinement.md
  docs/manual/containers.md
  docs/manual/extend.md
  docs/manual/generators.md
  docs/manual/geometry.md
  docs/manual/input.md
  docs/manual/install.md
  docs/manual/output.md
  docs/manual/running.md
Due: disallow-caps, disallow-end-fence

docs: Add docstrings to RMGOutputManager class methods and constructor
  include/RMGOutputManager.hh
Due: disallow-caps, clang-tidy

docs: Populate RMGManager class with comprehensive docstrings
  include/RMGManager.hh
  include/RMGOutputManager.hh
  include/RMGUserInit.hh
Due: disallow-caps, clang-tidy

remove too cautious check for output scheme in post-processing
  python/remage/post_proc.py
Due: disallow-caps

add integrated output tests including optical detectors
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.hdf5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.hdf5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.hdf5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.hdf5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/gdml/geometry.gdml
  tests/output/gdml/geometry.py
  tests/output/macros/ntuple-optionals.mac
  tests/output/macros/ntuple-per-det-vol.mac
  tests/output/macros/ntuple-per-det.mac
  tests/output/macros/ntuple-single-table-with-tracks.mac
  tests/output/macros/ntuple-single-table.mac
Due: disallow-caps

consistent doxygen syntax usage
  include/RMGGeneratorUtil.hh
  include/RMGIpc.hh
  include/RMGManager.hh
  include/RMGMasterGenerator.hh
  include/RMGOpWLSProcess.hh
  include/RMGTools.hh
  include/RMGUserInit.hh
  include/RMGVGenerator.hh
  include/RMGVOutputScheme.hh
  include/RMGVVertexGenerator.hh
  include/RMGVertexConfinement.hh
Due: disallow-caps, clang-tidy

remove remage-to-lh5
  docs/manual/output.md
  src/CMakeLists.txt
  src/remage-to-lh5.cc
  tests/output/CMakeLists.txt
  tests/output/run-test-hdf5.sh
Due: disallow-caps, disallow-end-fence, clang-tidy

fix typo in GetNtupleNameFlat() name
  include/RMGGermaniumOutputScheme.hh
  include/RMGOpticalOutputScheme.hh
  include/RMGScintillatorOutputScheme.hh
  include/RMGVOutputScheme.hh
Due: disallow-caps, clang-tidy

register ntuple name in RMGOutputManager private data
  examples/06-NeutronCapture/IsotopeOutputScheme.cc
  include/RMGOutputManager.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGOpticalOutputScheme.cc
  src/RMGOutputManager.cc
  src/RMGScintillatorOutputScheme.cc
Due: disallow-caps, clang-tidy

pass mapping UID -> ntuple info to ConvertLH5
  include/RMGConvertLH5.hh
  include/RMGOutputManager.hh
  src/RMGConvertLH5.cc
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

feat: add soft link creation for matching ntuple names in LH5 format
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

style: format code and run linter on RMGConvertLH5.cc
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

RMGConvertLH5: also store soft links to output tables in /stp/__links__
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

docs fixes
  docs/manual/output.md
  include/RMGOutputManager.hh
Due: disallow-caps, disallow-end-fence, clang-tidy

handle the links in post processing and build the TCM based on them
  pyproject.toml
  python/remage/post_proc.py
  python/remage/utils.py
  src/RMGConvertLH5.cc
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
Due: disallow-caps, clang-tidy

prefer "output_ntuple" rather than "output_table", when not referring to LH5 specifically
  include/RMGOutputManager.hh
  python/remage/post_proc.py
  src/RMGOutputManager.cc
Due: disallow-caps, clang-tidy

use same uid fmt string as in remage, fix tcm using uids
  include/RMGConvertLH5.hh
  include/RMGVOutputScheme.hh
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  tests/output/CMakeLists.txt
  tests/output/dumps/ntuple-no-stp-pproc.lh5.ls
  tests/output/dumps/ntuple-no-stp.hdf5.ls
  tests/output/dumps/ntuple-no-stp.lh5.ls
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-no-stp.mac
Due: disallow-caps, clang-tidy

remove broken symlinks after build_hit() is done
  python/remage/post_proc.py
Due: disallow-caps

improve the manual documentation
  docs/manual/geometry.md
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

docs: add Doxygen docstrings to RMGConvertLH5 class and methods
  include/RMGConvertLH5.hh
Due: disallow-caps, clang-tidy

update tutorial
  docs/tutorial.md
Due: disallow-caps, disallow-end-fence

ignore PLC0415
  pyproject.toml
Due: disallow-caps

rename __links__ to __by_uid__ and update documentation
  docs/index.md
  docs/manual/analysis.md
  docs/manual/output.md
  docs/tutorial.md
  python/remage/post_proc.py
  src/RMGConvertLH5.cc
  tests/output/dumps/ntuple-optionals-pproc.lh5.ls
  tests/output/dumps/ntuple-optionals.lh5.ls
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol.lh5.ls
  tests/output/dumps/ntuple-per-det.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/_init.mac
Due: disallow-caps, disallow-end-fence, clang-tidy

bump reboost version to ensure ZSTD encoded data
  pyproject.toml
Due: disallow-caps

ignore some clang-tidy warnings [skip ci]
  src/RMGGrabmayrGCReader.cc
Due: disallow-caps, clang-tidy

skip unit tests in Dockerfile
  .dockerhub/Dockerfile
Due: disallow-caps

Update RMGOpticalOutputScheme.hh
  include/RMGOpticalOutputScheme.hh
Due: disallow-caps, clang-tidy

Update RMGOpticalOutputScheme.cc
  src/RMGOpticalOutputScheme.cc
Due: disallow-caps, clang-tidy

Update rmg-commands.md
  docs/rmg-commands.md
Due: none

Update RMGConvertLH5.cc
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

Update RMGGeneratorUtil.cc
  src/RMGGeneratorUtil.cc
Due: disallow-caps, clang-tidy

Clang tidy fixes (#432)
  src/RMGConvertLH5.cc
  src/RMGGeneratorUtil.cc
Due: disallow-caps, clang-tidy

add macro command to set optical storage precision (#431)
  docs/rmg-commands.md
  include/RMGOpticalOutputScheme.hh
  src/RMGOpticalOutputScheme.cc
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
