Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.10.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.3
    hooks:
      - id: clang-format
        types_or: [c++]

check for xml-valid gdml file in python
  python/remage/ipc.py
  src/RMGHardware.cc
  tests/basics/CMakeLists.txt
  tests/basics/gdml/geometry_invalid_xml.gdml
Due: disallow-caps, clang-tidy

typo [skip ci]
  tests/basics/gdml/geometry_invalid_xml.gdml
Due: disallow-caps

check for xml-valid gdml file in python (#495)
  python/remage/ipc.py
  src/RMGHardware.cc
  tests/basics/CMakeLists.txt
  tests/basics/gdml/geometry_invalid_xml.gdml
Due: disallow-caps, clang-tidy

cli: add --ignore-warnings flag
  python/remage/cli.py
Due: disallow-caps

feat: add --tmpdir option to set temporary output directory
  include/RMGOutputManager.hh
  src/RMGRunAction.cc
  src/remage.cc
Due: disallow-caps, clang-tidy

update on Inner Bremsstrahlung Running issues.
  include/RMGInnerBremsstrahlungProcess.hh
  src/RMGInnerBremsstrahlungProcess.cc
  src/RMGPhysics.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

feat: add --rand-seed option to seed RNG via RMGManager
  src/remage.cc
Due: disallow-caps, clang-tidy

test: add rand-seed test to verify CLI seed logging
  tests/basics/CMakeLists.txt
Due: disallow-caps

fixed issue on reseting decay time of IB
  src/RMGTrackingAction.cc
Due: disallow-caps, clang-tidy

bump lgdo version
  pyproject.toml
Due: disallow-caps

Update plot_observables.py [skip ci]
  tests/observables/plot_observables.py
Due: disallow-caps

Update plot_steps.py [skip ci]
  tests/observables/plot_steps.py
Due: disallow-caps

implement geantino-based geometry check
  include/RMGGeometryCheckOutputScheme.hh
  include/RMGHardware.hh
  include/RMGSteppingAction.hh
  include/RMGUserInit.hh
  include/RMGVOutputScheme.hh
  src/CMakeLists.txt
  src/RMGGeometryCheckOutputScheme.cc
  src/RMGSteppingAction.cc
  src/RMGTrackingAction.cc
  src/RMGUserAction.cc
Due: disallow-caps, clang-tidy

docs: add some first docs on geantino geometry checking
  docs/manual/geometry.md
Due: disallow-caps, disallow-end-fence

ci: use python 3.13 on macOS for now
  .github/workflows/main.yml
Due: disallow-caps

Minor update in main docs page
  docs/index.md
Due: disallow-caps, disallow-end-fence

docs: clarify support of output file types
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

allow sampling in some inner volume
  docs/manual/geometry.md
  include/RMGGeometryCheckOutputScheme.hh
  src/RMGGeometryCheckOutputScheme.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

log event id in geantino check
  src/RMGGeometryCheckOutputScheme.cc
Due: disallow-caps, clang-tidy

cmake: fix testing with RMG_CONDA_BUILD
  python/CMakeLists.txt
Due: disallow-caps

Update run-test-hdf5.sh
  tests/output/run-test-hdf5.sh
Due: disallow-caps

appease pre-commit [skip ci]
  python/CMakeLists.txt
Due: disallow-caps

cmake: fix testing with `RMG_CONDA_BUILD` (#510)
  python/CMakeLists.txt
  tests/output/run-test-hdf5.sh
Due: disallow-caps

tests: introduce a new `flaky` label for confinement tests [skip ci]
  tests/confinement/CMakeLists.txt
Due: disallow-caps
