Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

disallow-end-fence:
  name: 'disallow ::: fences not on their own line'
  language: pygrep
  entry: '[^\n]:*:::\n|[^\n]:*:::\{'

clang-tidy:
  name: clang-tidy
  entry: bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build ]]; then run-clang-tidy -fix -quiet -p=build; fi'
  language: system
  pass_filenames: false

docs: document track output
  docs/manual/generators.md
  docs/manual/output.md
Due: disallow-caps, disallow-end-fence

pre-commit: also run ruff-format on .py.in files
  .pre-commit-config.yaml
  docs/conf.py.in
  docs/manual/output.md
  docs/validation/conf.py.in
Due: disallow-caps, disallow-end-fence

improve RMGHardware docstrings
  include/RMGDetectorMetadata.hh
  include/RMGHardware.hh
Due: disallow-caps, clang-tidy

docs: mention registering multiple detectors with the same uid
  docs/conf.py.in
  docs/manual/geometry.md
Due: disallow-caps, disallow-end-fence

phy: rename ThermalScattering to EnableNeutronThermalScattering
  docs/rmg-commands.md
  examples/06-NeutronCapture/runNormalnCapture.mac
  examples/06-NeutronCapture/runRMGnCapture.mac
  examples/06-NeutronCapture/vis-traj.mac
  include/RMGPhysics.hh
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

add first gamma correlation plots for the validation suite
  tests/CMakeLists.txt
  tests/gammacorr/CMakeLists.txt
  tests/gammacorr/gdml/geometry.gdml
  tests/gammacorr/gdml/geometry.py
  tests/gammacorr/test_angcorr.py
Due: disallow-caps

update gammacorr tests to latest output format
  tests/gammacorr/test_angcorr.py
Due: disallow-caps

phy: enable nuclear gamma angular correlations by default
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

Add FindPhysicalVolumesFromRegex to RMGNavigationTools
  include/RMGNavigationTools.hh
  src/RMGNavigationTools.cc
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

Remove duplicate dump files
  tests/detectors/dumps/from-name.lh5.ls
  tests/detectors/dumps/from-regex.lh5.ls
  tests/detectors/dumps/register-all.lh5.ls
  tests/detectors/dumps/register-germanium.lh5.ls
  tests/detectors/test_output.py
Due: disallow-caps

Fix trailing whitespace mismatch in test
  tests/detectors/test_output.py
Due: disallow-caps

Add regex support to RegisterDetector command
  include/RMGHardware.hh
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
  src/RMGNavigationTools.cc
  tests/CMakeLists.txt
  tests/detectors/CMakeLists.txt
  tests/detectors/dumps/from-both.lh5.ls
  tests/detectors/dumps/from-gdml.lh5.ls
  tests/detectors/dumps/from-name.lh5.ls
  tests/detectors/dumps/from-regex.lh5.ls
  tests/detectors/gdml/geometry.gdml
  tests/detectors/gdml/geometry.py
  tests/detectors/macros/template.mac
  tests/detectors/run_sims_det.py
  tests/detectors/test_output.py
Due: disallow-caps, clang-tidy

Change test to only check if the output fields exist
  tests/detectors/CMakeLists.txt
  tests/detectors/dumps/register-all.lh5.ls
  tests/detectors/dumps/register-germanium.lh5.ls
  tests/detectors/test_output.py
Due: disallow-caps

Replace function with the one with regex support
  include/RMGNavigationTools.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
  src/RMGNavigationTools.cc
  src/RMGVertexConfinement.cc
Due: disallow-caps, clang-tidy

Forgot rmg doc dump
  docs/rmg-commands.md
Due: none

Use remage_run
  tests/detectors/run_sims_det.py
Due: disallow-caps

Add docstrings and update manual
  docs/manual/geometry.md
  include/RMGHardware.hh
  include/RMGNavigationTools.hh
Due: disallow-caps, disallow-end-fence, clang-tidy

Fix small mistake in manual
  docs/manual/geometry.md
Due: disallow-caps, disallow-end-fence

Register detector UIDs in alphabetical order
  docs/manual/geometry.md
  include/RMGHardware.hh
  include/RMGNavigationTools.hh
  src/RMGHardware.cc
Due: disallow-caps, disallow-end-fence, clang-tidy

Add regex support for `/RMG/Geometry/RegisterDetector` (#455)
  docs/manual/geometry.md
  docs/rmg-commands.md
  include/RMGHardware.hh
  include/RMGNavigationTools.hh
  src/RMGGermaniumOutputScheme.cc
  src/RMGHardware.cc
  src/RMGHardwareMessenger.cc
  src/RMGNavigationTools.cc
  src/RMGVertexConfinement.cc
  tests/CMakeLists.txt
  tests/detectors/CMakeLists.txt
  tests/detectors/gdml/geometry.gdml
  tests/detectors/gdml/geometry.py
  tests/detectors/macros/template.mac
  tests/detectors/run_sims_det.py
  tests/detectors/test_output.py
Due: disallow-caps, disallow-end-fence, clang-tidy

Add plot function
  tests/bxdecay/CMakeLists.txt
  tests/bxdecay/macros/template.mac
  tests/bxdecay/macros/template2.mac
  tests/bxdecay/plot_decay_modes.py
  tests/bxdecay/run_sims.py
Due: disallow-caps

Add unit tests for bxdecay
  tests/CMakeLists.txt
  tests/bxdecay/CMakeLists.txt
  tests/bxdecay/gdml/geometry.gdml
  tests/bxdecay/macros/template.mac
  tests/bxdecay/macros/template2.mac
  tests/bxdecay/run_sims.py
Due: disallow-caps

initial changes for C++20
  .github/workflows/main.yml
  CMakeLists.txt
  include/RMGGrabmayrGCReader.hh
  include/RMGLog.icc
  include/RMGVOutputScheme.hh
  src/CMakeLists.txt
  src/RMGConvertLH5.cc
  src/RMGEventAction.cc
  src/RMGExceptionHandler.cc
  src/RMGHardware.cc
  src/RMGNavigationTools.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

Speed up tests?
  tests/CMakeLists.txt
  tests/bxdecay/gdml/geometry.gdml
  tests/bxdecay/macros/template.mac
  tests/bxdecay/macros/template2.mac
Due: disallow-caps

Increased statistics test
  tests/bxdecay/CMakeLists.txt
  tests/bxdecay/plot_decay_modes.py
  tests/bxdecay/run_sims.py
Due: disallow-caps

Add option to skip tracking
  include/RMGSteppingAction.hh
  src/RMGSteppingAction.cc
  tests/bxdecay/macros/template.mac
  tests/bxdecay/macros/template2.mac
Due: disallow-caps, clang-tidy

Forgot doc-dump... again😩
  docs/rmg-commands.md
Due: none

First validation draft
  docs/validation/CMakeLists.txt
  docs/validation/bxdecay.md
  docs/validation/index.md
Due: disallow-caps, disallow-end-fence

Fix typos in analysis.md
  docs/manual/analysis.md
Due: disallow-caps, disallow-end-fence

Add GeneralDetector
  include/RMGDetectorMetadata.hh
  include/RMGGeneralDetector.hh
  include/RMGGeneralOutputScheme.hh
  src/CMakeLists.txt
  src/RMGGeneralDetector.cc
  src/RMGGeneralOutputScheme.cc
  src/RMGHardware.cc
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

Add generaldetector to output/ unit tests
  tests/output/dumps/ntuple-per-det-pproc.lh5.ls
  tests/output/dumps/ntuple-per-det-vol-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks-pproc.lh5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.hdf5.ls
  tests/output/dumps/ntuple-single-table-with-tracks.lh5.ls
  tests/output/dumps/ntuple-single-table.hdf5.ls
  tests/output/dumps/ntuple-single-table.lh5.ls
  tests/output/macros/ntuple-per-det-vol.mac
  tests/output/macros/ntuple-per-det.mac
  tests/output/macros/ntuple-single-table-with-tracks.mac
  tests/output/macros/ntuple-single-table.mac
Due: disallow-caps

doc dump -.-
  docs/rmg-commands.md
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

Add unit tests for bxdecay0
  tests/CMakeLists.txt
  tests/bxdecay/CMakeLists.txt
  tests/bxdecay/gdml/geometry.gdml
  tests/bxdecay/macros/template.mac
  tests/bxdecay/macros/template2.mac
  tests/bxdecay/plot_decay_modes.py
  tests/bxdecay/run_sims.py
Due: disallow-caps

Add option to skip tracking
  docs/rmg-commands.md
  include/RMGSteppingAction.hh
  src/RMGSteppingAction.cc
  tests/bxdecay/macros/template.mac
  tests/bxdecay/macros/template2.mac
Due: disallow-caps, clang-tidy

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  disallow-end-fence: any of: \.(md|markdown|mdown)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^include/(fmt|magic_enum|CLI11|EcoMug)/|^docs/rmg-commands.md
