Repository legend-exp/remage: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-end-fence, clang-tidy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "monthly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^include/(EcoMug)/|^docs/rmg-commands.md
repos:
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^tests/output/dumps/

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or: [yaml, html, css, scss, javascript, json]
      - id: prettier
        types_or: [markdown]
        args: ["--prose-wrap=always"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        types_or: [file]
        files: '\.py(?:\.in)?$'
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
        types_or: [file]
        files: '\.py(?:\.in)?$'

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: [pyyaml]
      - id: cmake-lint
        additional_dependencies: [pyyaml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-end-fence
        name: "disallow ::: fences not on their own line"
        language: pygrep
        entry: "[^\\n]:*:::\\n|[^\\n]:*:::\\{"
        types_or: [markdown]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry:
          bash -c 'command -V run-clang-tidy >&- 2>&-; if [[ $? == 0 && -d build
          ]]; then run-clang-tidy -fix -quiet -p=build; fi'
        language: system
        pass_filenames: false
        types_or: [c++]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        types_or: [c++]

nCapture: fix kinetic energy and mass of secondaries
  include/RMGGrabmayrGCReader.hh
  src/RMGNeutronCaptureProcess.cc
Due: disallow-caps, clang-tidy

check only once for colour support in logging
  src/RMGLog.cc
Due: disallow-caps, clang-tidy

some minor correctness fixes (docs, null checks)
  docs/rmg-commands.md
  include/RMGDefaultCli.hh
  include/RMGManager.hh
  src/RMGDefaultCli.cc
  src/RMGHardware.cc
  src/RMGManager.cc
  src/RMGSteppingAction.cc
  src/remage-doc-dump.cc
Due: disallow-caps, clang-tidy

performance: do not construct regexes for each loop iteration
  src/RMGNavigationTools.cc
Due: disallow-caps, clang-tidy

mt: propagate exception handler to threads & more atomic flags
  include/RMGExceptionHandler.hh
  include/RMGLog.hh
  include/RMGWorkerInitialization.hh
  src/RMGLog.cc
Due: disallow-caps, clang-tidy

refactor out elapsed time handling
  include/RMGTools.hh
  src/RMGEventAction.cc
  src/RMGRunAction.cc
Due: disallow-caps, clang-tidy

only copy birks constants once
  src/RMGHardware.cc
Due: disallow-caps, clang-tidy

ipc: limit retries and guard against interleaved writes
  src/RMGIpc.cc
Due: disallow-caps, clang-tidy

do not show one specific warning
  src/RMGExceptionHandler.cc
Due: disallow-caps, clang-tidy

innerbrem: use debug_event log level
  src/RMGInnerBremsstrahlungProcess.cc
Due: disallow-caps, clang-tidy

inerbrem: do some calculations only once in the looop
  include/RMGInnerBremsstrahlungProcess.hh
  src/RMGInnerBremsstrahlungProcess.cc
Due: disallow-caps, clang-tidy

innerbrem: only create the messenger once
  include/RMGInnerBremsstrahlungProcess.hh
  src/RMGInnerBremsstrahlungProcess.cc
Due: disallow-caps, clang-tidy

innerbrem: use proper particle change for adding secondaries
  src/RMGInnerBremsstrahlungProcess.cc
Due: disallow-caps, clang-tidy

docker: fix build & clone main branch of remage only
  .dockerhub/Dockerfile
Due: disallow-caps

output: deallocate hit when averging fails
  src/RMGOutputTools.cc
Due: disallow-caps, clang-tidy

particlefilter: return on non-existing volume
  src/RMGParticleFilterScheme.cc
Due: disallow-caps, clang-tidy

calo: only store hits with edep > 0
  src/RMGCalorimeterDetector.cc
Due: disallow-caps, clang-tidy

geombench: only run on max 1 thread
  include/RMGManager.hh
  src/RMGGeomBench.cc
Due: disallow-caps, clang-tidy

multiple minor output fixes
  include/RMGGermaniumDetector.hh
  include/RMGOpticalDetector.hh
  include/RMGOutputManager.hh
  include/RMGOutputTools.hh
  src/RMGAnalysisReader.cc
  src/RMGCalorimeterDetector.cc
  src/RMGGeometryCheckOutputScheme.cc
  src/RMGGermaniumDetector.cc
  src/RMGGrabmayrGCReader.cc
  src/RMGOpticalDetector.cc
  src/RMGOutputTools.cc
  src/RMGScintillatorDetector.cc
  src/RMGTrackOutputScheme.cc
Due: disallow-caps, clang-tidy

early exit in logging for higher levels
  include/RMGLog.hh
  include/RMGLog.icc
  src/RMGLog.cc
Due: disallow-caps, clang-tidy

lh5: do not attempt to convert scalar vtx entries
  src/RMGConvertLH5.cc
Due: disallow-caps, clang-tidy

use different seeds for multi-process mode
  include/RMGManager.hh
  src/RMGManager.cc
Due: disallow-caps, clang-tidy

tests: add test for multiproc seeding
  tests/internals/CMakeLists.txt
  tests/python/test_multiproc_seeds.py
Due: disallow-caps

feat: implementing the option to provide remage with a filelist of gamma cascade input files differentiating between the kinetic energy of the incoming neutron
  docs/rmg-commands.md
  include/RMGGrabmayrGCReader.hh
  src/RMGGrabmayrGCReader.cc
  src/RMGNeutronCaptureProcess.cc
  tests/cosmogenics/CMakeLists.txt
  tests/cosmogenics/NeutronCapture/GammaCascades/156Gd-highE.txt
  tests/cosmogenics/NeutronCapture/GammaCascades/156Gd-lowE.txt
  tests/cosmogenics/NeutronCapture/GammaCascades/156Gd_ncapture_filelist.txt
  tests/cosmogenics/NeutronCapture/runRMGnCascadeFilelist.mac
Due: disallow-caps, clang-tidy

warn for broken neutron cross section data sets
  src/RMGPhysics.cc
Due: disallow-caps, clang-tidy

even more pre-commit fixes
  python/remage/ipc.py
  tests/cosmogenics/muon/test_particle_yield.py
  tests/gespectrum/plot_gespectrum.py
  tests/staging/test_muon_stress.py
  tests/staging/test_throughput.py
Due: disallow-caps

rtd debug tage file download
  .readthedocs.yaml
Due: disallow-caps

rtd: disable HTTPS verification for downloading tag file
  .readthedocs.yaml
Due: disallow-caps

fix
  .readthedocs.yaml
Due: disallow-caps

rtd: disable HTTPS verification for downloading tag file (#727)
  .readthedocs.yaml
Due: disallow-caps

tests: fix validation
  tests/gespectrum/plot_gespectrum.py
Due: disallow-caps

tests: add validation for production cuts
  docs/validation/CMakeLists.txt
  docs/validation/observables-ge.md
  tests/observables/plot_observables.py
  tests/observables/run_sim.py
Due: disallow-caps, disallow-end-fence
